<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="robots" content="noindex,follow" />

  <title>Cobertura Roaming</title>
  <link rel="stylesheet" href="https://i.icomoon.io/public/b123418229/SitioMovistar2019/style.css">
  <link rel="stylesheet" href="../../../../EstilosMovistar/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="../../../../EstilosMovistar/estilosMovistar.css">
  <!-- <link rel="stylesheet" href="/movistar-estilos/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="/movistar-estilos/estilosMovistar.css"> -->
  <link rel="stylesheet" href="css/styles.css">


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

</head>

<body class="bg-gris-movistar-0">
  <div class="container-fluid">
    <div class="row justify-content-center" id="contenedor_vue">
      <div class="col-12 col-md-10 text-gris-movistar-5 pt-4 bg-blanco">
        <div class="row justify-content-center">
          <div class="col-10 text-gris-movistar-5 mt-4">
            <p class="title text-center text-md-left">Cobertura Roaming <br> Internacional</p>
          </div>
          <div class="col-10 text-gris-movistar-5">
            <div class="row justify-content-center">
              <div class="col-12 col-md-6">
                <p class="text-center text-md-left mt-4">
                  Para que estés siempre conectado durante tu viaje. Si eres
                  cliente Pospago, conoce los países con cobertura Movistar.
                </p>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="input-select">País <span class="text-magenta-movistar">*</span></label>
                  <select class="form-control custom-select bg-blanco" @change="onChange($event)">
                    <option value="">Selecciona un País</option>
                    <option v-for="pais in paises" :value="pais.pais">{{pais.pais}}</option>
                  </select>
                </div>


              </div>
              <div class="col-12 col-md-8 mt-2 mt-md-4" v-if="mostrarTabla">
                <div class="table-responsive-sm">
                  <table class="table table-bordered regular text-gris-movistar-5">
                    <thead class="bg-azul-movistar text-center">
                      <tr>
                        <th scope="col" class="text-left">Operadoras</th>
                        <th scope="col">Voz</th>
                        <th scope="col">SMS</th>
                        <th scope="col">EDGE</th>
                        <th scope="col">3G</th>
                        <th scope="col">4G LTE</th>
                      </tr>
                    </thead>
                    <tbody v-for="ps in paisSeleccionado" class="text-center bg-gris-movistar-1">
                      <tr>
                        <th scope="row" class="text-left bg-gris-movistar-0">{{ps.operador}}</th>
                        <td>
                          <div v-if="ps.voz === 'SI'">
                            <span class="icon-icono-check-small icon-verde-movistar font-size-150"></span>
                          </div>
                          <div v-else>
                            <span class="icon-icono-cerrar-modal-small icon-magenta-movistar font-size-150"></span>
                          </div>
                        </td>
                        <td>
                          <div v-if="ps.sms === 'SI'">
                            <span class="icon-icono-check-small icon-verde-movistar font-size-150"></span>
                          </div>
                          <div v-else>
                            <span class="icon-icono-cerrar-modal-small icon-magenta-movistar font-size-150"></span>
                          </div>
                        </td>
                        <td>
                          <div v-if="ps.edge === 'SI'">
                            <span class="icon-icono-check-small icon-verde-movistar font-size-150"></span>
                          </div>
                          <div v-else>
                            <span class="icon-icono-cerrar-modal-small icon-magenta-movistar font-size-150"></span>
                          </div>
                        </td>
                        <td>
                          <div v-if="ps.banda3g === 'SI'">
                            <span class="icon-icono-check-small icon-verde-movistar font-size-150"></span>
                          </div>
                          <div v-else>
                            <span class="icon-icono-cerrar-modal-small icon-magenta-movistar font-size-150"></span>
                          </div>
                        </td>
                        <td>
                          <div v-if="ps.banda4glte === 'SI'">
                            <span class="icon-icono-check-small icon-verde-movistar font-size-150"></span>
                          </div>
                          <div v-else>
                            <span class="icon-icono-cerrar-modal-small icon-magenta-movistar font-size-150"></span>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 text-gris-movistar-5 pt-4 mb-4">
        <p class="subtitle2 text-center">Preguntas frecuentes</p>
        <div class="card">
          <div class="card-header" id="headingOne">
            <p class="subtitle2 mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="false" aria-controls="collapseTwo">
                <p class="mb-0 regular"> ¿Cómo llamar a otro país desde Ecuador? </p>
              </button>
            </p>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body regular">
              Debes marcar "+" o "00" seguido por 593 y número de teléfono sin cero.<br>
              <b class="bold">Ejemplo:</b><br>
              (+) 593 9 9999 2706 ó 00 593 2 222 7700
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <p class="subtitle2 mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="true" aria-controls="collapseTwo">
                <p class="mb-0 regular"> ¿Cómo hacer llamadas locales en el país de destino? </p>
              </button>
            </p>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body regular">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
              moon
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="js/datosCoberturaRoaming.js"></script>
  <script src="js/filtros.js"></script>
  <script src="js/controlador.js"></script>
</body>

</html>