.card .btn {
  white-space: normal !important;
}

.card {
  margin-bottom: 0rem;
  border: 0px;
}

.card-header {
  padding: 0.5rem;
  /* padding-right: 2.5rem; */
  background-image: none;
  background-repeat: no-repeat;
  background-position: 94% center;
  border: none !important;
  border-radius: 0px !important;
  background-color: #F4F4F3;
}

.btn-collapse {
  padding: 1rem;
  padding-right: 2.5rem;
  background-image: url(imagenes/flecha-arriba.svg);
  background-size: 8%;
  background-repeat: no-repeat;
  background-position: 94% center;
  border: 1px solid #B6B7B7;
  border-radius: 4px;
  background-color: #F4F4F3;
  margin-top: -5%;
}

.btn-collapse.collapsed {
  background-image: url(https://www2.movistar.com.ec/EstilosMovistar/svg/down-arrow.svg);
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #ffffff;
}

.accordion-collapse {
  background-image: url(imagenes/simbolo-menos.svg);
  background-repeat: no-repeat;
  background-position: 100% center;
  background-position-y: bottom;
  background-size: 1%;
}

.accordion-collapse.collapsed {
  background-image: url(imagenes/mas.svg);
  background-repeat: no-repeat;
  background-position: 100% center;
  background-position-y: bottom;
}

@media (max-width: 580px) {
  .btn-collapse {
    margin-top: -18%;
  }
  .accordion-collapse {
    background-size: 4%;
  }
}

.btn-collapse:active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #F4F4F3;
}

.btn-collapse:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.collapse.show {
  margin-top: 0px !important;
}
/*# sourceMappingURL=styles.css.map */