<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="robots" content="noindex,follow" />

  <title>Movistar Play</title>
  <link rel="stylesheet" href="https://i.icomoon.io/public/b123418229/SitioMovistar2019/style.css">
  <link rel="stylesheet" href="../../../../EstilosMovistar/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="../../../../EstilosMovistar/estilosMovistar.css">

  <link rel="stylesheet" href="css/styles.css">


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

</head>

<body>
  <div class="container-fluid">
    <div class="row" id="contenedor_vue">
      <div class="col-12 text-gris-movistar-5 mt-4">
        <p class="title text-center">Activa ahora mismo tu Movistar Play</p>
        <p class="text-center">Regístrate ya y disfruta de TV en vivo gratis en tu celular. #EstásaUnPlay de
          disfrutar<br>
          lo mejor en entretenimiento.</p>
      </div>
      <div class="col-12 mt-3">
        <div class="container-fluid">
          <div class="row text-center justify-content-center d-flex align-items-end">

            <!-- PLANTILLA PAQUETES -->
            <div class="pt-0 col-xl-4 col-lg-5 col-md-5 columna px-0 px-md-3" v-for="paq in paquetes">

              <div class="caja pb-3 px-3 card" :class="paq.destacadoBorde">
                <span class="pt-2 d-none d-md-block" :class="paq.destacadoIcono"></span>
                <div class="row">


                  <div class="mt-3 mt-xl-0 ml-3 ml-md-0 col-5 col-md-12 text-left text-md-center">
                    <p class="mb-1">{{paq.nombre}}</p>
                    <div class="subtitle3">
                      {{paq.beneficioDestacado1}}
                    </div>
                    <p class="caption mb-0">{{paq.beneficioDestacado2}}</p>
                  </div>

                  <div class="col-5 pt-4 px-0 col-md-12 text-right text-md-center" v-if="paq.precio">
                    <div class="precio-s text-verde-movistar">
                      <div>$</div> <span>{{paq.precio | entero}}</span>
                      <small>{{paq.precio | decimal}}<br>+IVA/mes</small>
                    </div>
                    <p class="mb-0 text-gris-movistar-3 pt-2 pt-md-0 d-none d-md-block">$
                      {{paq.precio*1.12 | redondear}}
                      Incl. IVA/mes</p>
                  </div>

                </div>

                <div class="px-5 pt-4 d-none d-md-block text-center">
                  <button class="btn btn-block" :class="paq.destacadoBoton">{{paq.textoBoton}}</button>
                </div>

                <div class="col-12 px-0">
                  <hr class="my-3  ">
                </div>

                <div class="text-left ml-3 ml-xl-0 d-none d-md-block">
                  <div v-for="beneficio in paq.beneficios">
                    <p class="caption mb-2" :class="beneficio.class">{{beneficio.text}}</p>
                  </div>
                </div>

                <div class="ml-3 ml-xl-0 d-none d-md-block">
                  <div class="row d-inline-flex">
                    <div v-for="canal in paq.canales">
                      <div class="px-1">
                        <span class="font-size-300 rounded-circle" :class="canal.icon"></span>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- BENEFICIOS MOBILE -->
                <div class="row px-2 d-md-none">
                  <div class="col-12 px-0">
                    <div class="collapse" :id="'beneficio-'+paq.posicionMovil">
                      <div class="text-left ml-3 ml-xl-0">
                        <div v-for="beneficio in paq.beneficios">
                          <p class="caption mb-2" :class="beneficio.class">{{beneficio.text}}</p>
                        </div>
                      </div>
                      <div class="row ml-3 pt-0 d-inline-flex mb-3">
                        <div v-for="canal in paq.canales">
                          <div class="px-1">
                            <span class="font-size-300 rounded-circle" :class="canal.icon"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- MAS DETALLES  -->
                <div class="row w-100">
                  <div class="col-6 d-md-none pt-2 px-0 px-md-2">
                    <nav class="navbar ">

                      <div class="w-100 row" :ref="'cambioTexto-'+paq.posicionMovil">
                        <div class="col-10 px-0 text-right">
                          <p class=" text-azul-movistar " data-toggle="collapse" :id="'cambioTexto-'+paq.posicionMovil"
                            @click="cambiarTexto('cambioSpan-'+paq.posicionMovil,'cambioTexto-'+paq.posicionMovil)"
                            :data-target="'#beneficio-'+paq.posicionMovil" aria-controls="navbarToggleExternalContent"
                            aria-expanded="false" aria-label="Toggle navigation">Más detalle</p>
                        </div>
                        <div class="col-2 px-0 text-left">
                          <span :id="'cambioSpan-'+paq.posicionMovil"
                            class="transition mt-1  position-absolute f-100 icon-azul-movistar icon-icono-flecha-abajo-small">

                          </span>
                        </div>
                      </div>

                    </nav>
                  </div>
                  <div class="col-6 d-md-none px-0 px-md-2">
                    <button class="btn btn-block btn-azul-movistar">{{paq.textoBoton}}</button>
                  </div>
                  <!-- MAS DETALLES -->
                  <!-- BENEFICIOS MOBILE -->

                </div>
              </div>
            </div>
            <!-- PLANTILLA PAQUETES -->

          </div>

          <div class="row text-center justify-content-center mt-4">
            <div class="col-12 col-xl-10 bg-gris-movistar-0 pt-4">
              <p class="title text-center">Paquetes extra</p>
              <p class="text-center">Podrás complementar con canales premium u otros servicios.</p>
              <div class="row justify-content-center">
                <div class="col-12 col-xl-10 col-lg-11">
                  <div class="row mb-4 mt-4 justify-content-center">
                    <!-- PLANTILLA PAQUETES EXTRA -->
                    <div class="mt-2 mt-xl-0 rounded bg-blanco mx-3 col-md-5 columna px-md-3"
                      v-for="paqextra in paquetesExtra">
                      <div class="row pl-2 ">
                        <div class="col-5 col-xl-7 rounded py-4 mt-2" :class="paqextra.color">
                          {{paqextra.nombre}}
                        </div>
                        <div class="col-7 col-xl-5">
                          <div class="precio-s text-gris-movistar-5 mt-4 mt-xl-3 pt-2 pt-xl-0">
                            <div>$</div> <span>{{paqextra.precio | entero}}</span>
                            <small>{{paqextra.precio | decimal}}<br>+IVA/mes</small>
                          </div>
                          <div class="mt-2 d-none d-md-block">
                            <button class="btn btn-block btn-azul-movistar">{{paqextra.textoBoton}}</button>
                          </div>
                        </div>
                        <div class="col-12 px-0">
                          <hr class="my-3  ">
                        </div>
                        <div class="col-12 text-left d-none d-md-block">
                          <div class="d-inline-flex row">
                            <div v-for="canal in paqextra.canales">
                              <div class="px-1">
                                <span class="font-size-300 rounded-circle" :class="canal.icon"></span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- BENEFICIOS MOBILE -->
                        <div class="row px-2 d-md-none">
                          <div class="col-12 px-0">
                            <div class="collapse" :id="'detalle-'+paqextra.posicionMovil">
                              <div class="row ml-3 pt-0 d-flex">
                                <div v-for="canal in paqextra.canales">
                                  <div class="px-1">
                                    <span class="font-size-300 rounded-circle" :class="canal.icon"></span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- MAS DETALLES  -->
                        <div class="row px-2 d-md-none">
                          <div class="col-12 px-0">
                            <hr class="my-3  ">
                          </div>
                        </div>
                        <div class="row w-100">
                          <div class="col-6 d-md-none pt-2 px-0 px-sm-3">
                            <nav class="navbar ">

                              <div class="w-100 row" :ref="'cambioFlecha-'+paqextra.posicionMovil">
                                <div class="col-10 px-0 text-right">
                                  <p class=" text-azul-movistar " data-toggle="collapse"
                                    :id="'cambioFlecha-'+paqextra.posicionMovil"
                                    @click="cambiarFlecha('cambioSpanExtra-'+paqextra.posicionMovil)"
                                    :data-target="'#detalle-'+paqextra.posicionMovil"
                                    aria-controls="navbarToggleExternalContent" aria-expanded="false"
                                    aria-label="Toggle navigation">Canales</p>
                                </div>
                                <div class="col-2 px-0 text-left">
                                  <span :id="'cambioSpanExtra-'+paqextra.posicionMovil"
                                    class="transition mt-1  position-absolute f-100 icon-azul-movistar icon-icono-flecha-abajo-small">

                                  </span>
                                </div>
                              </div>

                            </nav>
                          </div>
                          <div class="col-6 d-md-none px-0 px-md-2">
                            <button class="btn btn-block btn-azul-movistar">{{paqextra.textoBoton}}</button>
                          </div>
                          <!-- MAS DETALLES -->
                          <!-- BENEFICIOS MOBILE -->

                        </div>
                      </div>
                    </div>
                    <!-- PLANTILLA PAQUETES EXTRA -->
                  </div>
                </div>
                <!-- NETFLIX -->
                <div class="col-11 col-xl-9 col-lg-10 col-md-10 bg-gris-movistar-5 rounded mb-5">
                  <div class="row">
                    <div class="col-12 col-md-5 mt-5">
                      <p class="subtitle2 text-magenta-movistar">NETFLIX</p>
                      <p class="text-gris-movistar-1">Ahora también podrás disfrutar de<br>
                        todo el contenido de Netflix desde<br>
                        Movistar Play.</p>
                    </div>
                    <div class="col-12 col-md-7 text-gris-movistar-1 mt-5 text-left mb-4">
                      <div class="d-flex">
                        <div><span class="num-circle mr-2"> 1 </span></div>
                        <p>Ingresa a Movistar Play y selecciona Netflix en TV On
                          Demand.</p>
                      </div>
                      <div class="d-flex">
                        <div><span class="num-circle mr-2"> 2 </span></div>
                        <p>Elige el plan al que deseas suscribirte.</p>
                      </div>
                      <div class="d-flex">
                        <div><span class="num-circle mr-2"> 3 </span></div>
                        <p>Crea una cuenta ingresando tu email y una contraseña.
                        </p>
                      </div>
                      <a href="" class="text-blanco d-none d-md-block"> Suscribirse a través de Movistar Play <span
                          class="icon-icono-flecha-derecha-small icon-blanco"></span></a>
                      <div class="text-center d-md-none">
                        <button type="button" class="btn-small btn-dark"> Suscribirse</button>
                      </div>

                    </div>
                  </div>
                </div>
                <!-- NETFLIX -->
              </div>
            </div>
          </div>

          <div class="row text-center justify-content-center">
            <div class="col-12 col-xl-9 pt-4">
              <p class="title text-center">Películas de alquiler</p>
              <p class="text-center">Los mejores estrenos del Cine en la comodidad de tu hogar desde<br>
                <b>$0.88 por película.</b></p>
              <div class="row justify-content-center">
                <!-- PLANTILLA PELICULAS -->

                <div class="pt-0 col-12 col-xl-3 col-lg-3 col-md-3 px-0 px-md-3" v-for="pel in peliculas">
                  <div class="row justify-content-center">
                    <div class="col-5 col-md-12 mt-4 pr-0 pr-xl-3 pr-lg-3">
                      <img v-bind:src="pel.imagen" class="rounded" width="70%">
                    </div>
                    <div class="col-7 col-md-12 mt-4 text-left text-md-center pl-0 pl-md-3">
                      <h4 class="mt-2">{{pel.nombre}}</h4>
                      <div>
                        <span class="badge bg-azul-movistar" :class="pel.colorTag">{{pel.tag}}</span>
                      </div>
                      <p class="bold mb-2 mb-xl-0">${{pel.precio}}</p>
                      <a href="" class="caption"> Alquilar <span
                          class="icon-icono-flecha-derecha-small icon-azul-movistar"></span></a>
                    </div>

                  </div>
                  <div class="d-md-none px-0 pt-4">
                    <hr class="my-3">
                  </div>
                </div>
                <!-- PLANTILLA PELICULAS -->
                <div class="col-12 mb-4 mt-2">
                  <a href="" class="caption"> Ver más películas <span
                      class="icon-icono-flecha-derecha-small icon-azul-movistar"></span></a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <script src="js/filtros.js"></script>
  <script src="js/controlador.js"></script>
</body>

</html>