<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--   <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="combos" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://i.icomoon.io/public/b123418229/SitioMovistar2019/style.css">
    <link rel="stylesheet" href="https://www2.movistar.com.ec/EstilosMovistar/bootstrap/bootstrap.css">
    <!--     <link rel="stylesheet" href="/../../estilosMovistar/bootstrap/bootstrap.css">
   <link rel="stylesheet" href="../../estilosMovistar/estilosMovistar.css"> -->
    <link rel="stylesheet" href="https://www2.movistar.com.ec/EstilosMovistar/estilosMovistar.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- permite hacer llamadas get y post -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="estilosPlanes.css">
</head>

<body>


    <div class="container-fluid" id="contenedor_vue">
        <div class="row">
            <div class="col-md-12  text-center">
                <div class="mega-title">Combos y Bonos Prepago</div>
                <h4>WhatsApp gratis en todos tus combos prepago para estar siempre conectados </h4>
            </div>
        </div>
        <div class="row text-center justify-content-center pt-3">
            <div class="col-md-12 pb-5">
                <!-- MENU -->
                <div class="row  text-center justify-content-center">
                    <div class="col-12 col-md-5 col-xl-3">
                        <nav class="nav-pills nav-justified">
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab"
                                    href="#nav-profile" role="tab" aria-controls="nav-profile"
                                    aria-selected="false">Combos</a> <a class="nav-item nav-link" id="nav-contact-tab"
                                    data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact"
                                    aria-selected="false">Bonos</a> </div>
                        </nav>

                    </div>
                </div>
                <!-- MENU -->

                <!-- CONTENIDO -->

                <div class="tab-content" id="nav-tabContent">

                    <!--   TAB COMBOS -->
                    <div class="tab-pane  fade show active" id="nav-profile" role="tabpanel"
                        aria-labelledby="nav-profile-tab">
                        <div class="row mt-3 mb-0 pb-0 px-0 d-block d-md-none d-lg-none">
                            <div class="col-6 px-0">
                                <div class="badge badge-cuadrado-derecha mb-0  bg-purpura-movistar d-block">
                                    OFERTA EXCLUSIVA WEB

                                </div>
                            </div>
                        </div>
                        <div class="row  pt-0 text-center planes-margen mt-0 mt-md-5 ">
                            <div class="pt-0  col-xl-2 col-lg-3 col-md-4 columna px-0 px-md-3"
                                v-for="combo in datosCombos">
                                <!-- PLANTILLA COMBOS -->
                                <div class="caja pb-0 pb-md-3 px-3 card  "
                                    :class="estilosPlanDestacado[combo.is_main_plan].destacadoBorde">
                                    <span class="pt-2"
                                        :class="estilosPlanDestacado[combo.is_main_plan].destacadoIcono"></span>
                                    <div class="row px-2">
                                        <div class="col-6 px-0 col-md-12  text-left text-md-center">
                                            <div class="cabeceraCajaBorde ">
                                                <p class="subtitle3">{{combo.name}}</p class="subtitle3">
                                                <div class="mega-title ">
                                                    {{combo.benefits.normal_benefits[0].name}}GB
                                                </div>
                                                <p class="mb-0">{{combo.benefits.outstanding_benefit[0].name}}</p>
                                            </div>
                                            <div class="d-none d-md-block ">
                                                <span
                                                    class="  badge badge-circular bg-magenta-movistar">{{combo.content_tags[0].tag_value}}</span>
                                                <hr style="margin-top: -20px">
                                            </div>
                                        </div>
                                        <div class="col-6 px-0 col-md-12 text-right text-md-center">
                                            <div v-for="promocion in combo.promotions">
                                                <p v-for="desc in promocion.description">
                                                    <span class="text-magenta-movistar">
                                                        {{desc.description}}</span> {{desc.vigencia}}

                                                </p>


                                            </div>

                                            <div class="precio-s text-verde-movistar ">
                                                <div>$</div> <span>{{combo.prices.price | entero}}</span>
                                                <small>{{combo.prices.price | decimal}}<br>+IVA</small>
                                            </div>
                                            <p class="text-gris-movistar-3 pt-2 pt-md-0">$
                                                {{combo.prices.price*1.12 | redondear}}
                                                Incl.IVA</p>
                                        </div>

                                    </div>

                                    <!-- BENEFICIOS MOBILE -->
                                    <div class="row px-2 d-md-none">
                                        <div class="col-12 px-0 ">
                                            <div class="collapse" :id="'detalle-'+combo.order_mobile">
                                                <div class="pt-0">
                                                    <div v-for="beneficio in combo.benefits.normal_benefits">
                                                        <div class="text-left ">
                                                            <p class="  mb-0">
                                                                {{beneficio.name}}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- MAS DETALLES  -->
                                    <div class="row px-2 d-md-none">
                                        <div class="col-12 px-0">
                                            <hr class="my-3  ">
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-6 d-md-none ">
                                            <nav class="navbar ">

                                                <div class="w-100 row" :ref="'cambioTexto-'+combo.order_mobile">
                                                    <div class="col-10 px-0 text-right">
                                                        <p class=" text-azul-movistar " data-toggle="collapse"
                                                            :id="'cambioTexto-'+combo.order_mobile"
                                                            @click="cambiarTexto('cambioSpan-'+combo.order_mobile,'cambioTexto-'+combo.order_mobile)"
                                                            :data-target="'#detalle-'+combo.order_mobile"
                                                            aria-controls="navbarToggleExternalContent"
                                                            aria-expanded="false" aria-label="Toggle navigation">Más
                                                            detalle</p>
                                                    </div>
                                                    <div class="col-2 px-0 text-left">
                                                        <span :id="'cambioSpan-'+combo.order_mobile"
                                                            class="transition mt-1  position-absolute f-100 icon-azul-movistar icon-icono-flecha-abajo-small">

                                                        </span>
                                                    </div>
                                                </div>

                                            </nav>
                                        </div>
                                        <!-- MAS DETALLES -->
                                        <!-- BENEFICIOS MOBILE -->

                                        <!-- BOTON -->
                                        <div class="col-6 col-md-12">
                                            <button type="button" class="btn  btn-block"
                                                :class="estilosPlanDestacado[combo.is_main_plan].destacadoBoton "
                                                @click="abrirModalCombos(combo.slug,'combo')"> Lo quiero</button>
                                        </div>
                                        <!-- BOTON -->
                                    </div>
                                    <!-- BENEFICIOS DESKTOP -->
                                    <div class="pt-3 d-none d-md-block">
                                        <div v-for="(beneficio, indice)  in combo.benefits.normal_benefits"
                                            class="w-100 ">
                                            <div v-if="indice != 0">

                                                <hr class="my-2">
                                                <div class="pt-2  d-flex  text-left mr-auto">
                                                    <span :class="beneficio.icon"
                                                        class="font-size-150 icon-magenta-movistar"></span>
                                                    <p class=" ml-2  mb-0">
                                                        {{beneficio.name}}
                                                    </p>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <!-- BENEFICIOS DESKTOP -->
                                </div>
                                <!-- PLANTILLA COMBOS-->
                            </div>
                        </div>
                    </div>
                    <!--   TAB COMBOS -->
                    <!--   TAB BONOS -->
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"> 
                            <div class="row mt-3 mb-0 pb-0 px-0 d-block d-md-none d-lg-none">
                                    <div class="col-6 px-0">
                                        <div class="badge badge-cuadrado-derecha mb-0  bg-purpura-movistar d-block">
                                            OFERTA EXCLUSIVA WEB
        
                                        </div>
                                    </div>
                                </div>
                                <div class="row  pt-0 text-center planes-margen mt-0 mt-md-5 ">
                                    <div class="pt-0  col-xl-2 col-lg-3 col-md-4 columna px-0 px-md-3"
                                        v-for="bono in datosBonos">
                                        <!-- PLANTILLA BONOS -->
                                        <div class="caja pb-0 pb-md-3 px-3 card  "
                                            :class="estilosPlanDestacado[bono.is_main_plan].destacadoBorde">
                                            <span class="pt-2"
                                                :class="estilosPlanDestacado[bono.is_main_plan].destacadoIcono"></span>
                                            <div class="row px-2">
                                                <div class="col-6 px-0 col-md-12  text-left text-md-center">
                                                    <div class="cabeceraCajaBorde ">
                                                        <p class="subtitle3">{{bono.name}}</p class="subtitle3">
                                                        <div class="mega-title ">
                                                            {{bono.benefits.normal_benefits[0].name}}GB
                                                        </div>
                                                        <p class="mb-0">{{bono.benefits.outstanding_benefit[0].name}}</p>
                                                    </div>
                                                    <div class="d-none d-md-block ">
                                                        <span
                                                            class="  badge badge-circular bg-magenta-movistar">{{bono.content_tags[0].tag_value}}</span>
                                                        <hr style="margin-top: -20px">
                                                    </div>
                                                </div>
                                                <div class="col-6 px-0 col-md-12 text-right text-md-center">
                                                    <div v-for="promocion in bono.promotions">
                                                        <p v-for="desc in promocion.description">
                                                            <span class="text-magenta-movistar">
                                                                {{desc.description}}</span> {{desc.vigencia}}
        
                                                        </p>
        
        
                                                    </div>
        
                                                    <div class="precio-s text-verde-movistar ">
                                                        <div>$</div> <span>{{bono.prices.price | entero}}</span>
                                                        <small>{{bono.prices.price | decimal}}<br>+IVA</small>
                                                    </div>
                                                    <p class="text-gris-movistar-3 pt-2 pt-md-0">$
                                                        {{bono.prices.price*1.12 | redondear}}
                                                        Incl.IVA</p>
                                                </div>
        
                                            </div>
        
                                            <!-- BENEFICIOS MOBILE -->
                                            <div class="row px-2 d-md-none">
                                                <div class="col-12 px-0 ">
                                                    <div class="collapse" :id="'detalleBono-'+bono.order_mobile">
                                                        <div class="pt-0">
                                                            <div v-for="beneficio in bono.benefits.normal_benefits">
                                                                <div class="text-left ">
                                                                    <p class="  mb-0">
                                                                        {{beneficio.name}}
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- MAS DETALLES  -->
                                            <div class="row px-2 d-md-none">
                                                <div class="col-12 px-0">
                                                    <hr class="my-3  ">
                                                </div>
                                            </div>
                                            <div class="row ">
                                                <div class="col-6 d-md-none ">
                                                    <nav class="navbar ">
        
                                                        <div class="w-100 row" :ref="'cambioTextoBono-'+bono.order_mobile">
                                                            <div class="col-10 px-0 text-right">
                                                                <p class=" text-azul-movistar " data-toggle="collapse"
                                                                    :id="'cambioTextoBono-'+bono.order_mobile"
                                                                    @click="cambiarTexto('cambioSpanBono-'+bono.order_mobile,'cambioTextoBono-'+bono.order_mobile)"
                                                                    :data-target="'#detalleBono-'+bono.order_mobile"
                                                                    aria-controls="navbarToggleExternalContent"
                                                                    aria-expanded="false" aria-label="Toggle navigation">Más
                                                                    detalle</p>
                                                            </div>
                                                            <div class="col-2 px-0 text-left">
                                                                <span :id="'cambioSpanBono-'+bono.order_mobile"
                                                                    class="transition mt-1  position-absolute f-100 icon-azul-movistar icon-icono-flecha-abajo-small">
        
                                                                </span>
                                                            </div>
                                                        </div>
        
                                                    </nav>
                                                </div>
                                                <!-- MAS DETALLES -->
                                                <!-- BENEFICIOS MOBILE -->
        
                                                <!-- BOTON -->
                                                <div class="col-6 col-md-12">
                                                    <button type="button" class="btn  btn-block"
                                                        :class="estilosPlanDestacado[bono.is_main_plan].destacadoBoton "
                                                        @click="abrirModalCombos(bono.slug, 'bono')"> Lo quiero</button>
                                                </div>
                                                <!-- BOTON -->
                                            </div>
                                            <!-- BENEFICIOS DESKTOP -->
                                            <div class="pt-3 d-none d-md-block">
                                                <div v-for="(beneficio, indice)  in bono.benefits.normal_benefits"
                                                    class="w-100 ">
                                                    <div v-if="indice != 0">
        
                                                        <hr class="my-2">
                                                        <div class="pt-2  d-flex  text-left mr-auto">
                                                            <span :class="beneficio.icon"
                                                                class="font-size-150 icon-magenta-movistar"></span>
                                                            <p class=" ml-2  mb-0">
                                                                {{beneficio.name}}
                                                            </p>
                                                        </div>
        
                                                    </div>
        
                                                </div>
                                            </div>
                                            <!-- BENEFICIOS DESKTOP -->
                                        </div>
                                        <!-- PLANTILLA BONOS-->
                                    </div>
                                </div>
                    </div>
                    <!--   TAB BONOS -->

                </div>
                <!-- CONTENIDO -->
            </div>
            <!-- Modal Combos -->
            <div class="modal fade" id="modalCombos" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body py-0 my-md-5">
                            <div id="exitoCombos"></div>

                            <div class="container-fluid my-0 mt-md-2 mb-md-5" :class="respuesta ? 'd-none':'visible'">
                                <div class="row text-center justify-content-center">
                                    <div class="col-md-9">
                                        <p class="subtitle2 mb-0">
                                            Activa tu {{planSeleccionado.name}}
                                        </p>
                                        <div class=" title mb-4 ">
                                            {{gigasSeleccionado.name}}GB,
                                            <div class="precio-s text-verde-movistar ">
                                                <div>$</div> <span>{{precioSeleccionado | entero}}</span>
                                                <small>{{precioSeleccionado | decimal}}<br>+IVA</small>
                                            </div>
                                        </div>

                                        <span v-for="beneficio in planSeleccionado.benefits" class="mb-0 ">
                                            <span v-for="(item ,indice) in beneficio ">
                                                <span v-if="indice !=0">
                                                    {{item.name}},
                                                </span>
                                            </span>
                                        </span>
                                        <p class="mt-3">Te enviaremos un código para completar la activación.</p>
                                    </div>
                                </div>
                                <div class="row text-center justify-content-center">

                                    <div class="col-md-6 text-center">
                                        <form class="text-left">

                                            <div class="form-group"> <label for="numero">Número de celular <span
                                                        class="text-magenta-movistar">*</span></label>
                                                <!-- en la directiva v-celular se envía como parámetro el input.celular.valor por el motivo de que cuando se detecta un cambio en el valor
                                                      la directiva se activa -->
                                                <input v-celular="input.celular.valor"
                                                    :class="input.celular.error ? 'error':''" type="number"
                                                    class="form-control" id="celular" v-model="input.celular.valor">
                                                <p v-show="input.celular.muestraMensaje">{{input.celular.mensaje}}</p>

                                            </div>
                                        </form>
                                        <button :disabled='abrir' class="btn btn-verde-movistar px-5 mt-3  "
                                            @click="enviarNumero()">Siguiente boton aqui</button>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Combos -->
        </div>



    </div>
    <script src="js/filtros.js"></script>
    <script src="js/directivas.js"></script>
    <script src="js/controlador.js"></script>
</body>

</html>
<!DOCTYPE html>