.bg-blanco {
  background-color: #ffffff;
}

.card .btn {
  white-space: normal !important;
}

.nav-tabs .nav-link {
  width: 240px !important;
}

h4{
  line-height: 1.5rem;
}

.badge {
  font-family: "Telefonica-Light";
}

ul.caption{
  line-height: 1.2rem;
}

.div-hover{
  margin-left: -1rem !important;
  width: 100%;
  height: 100%;
}

.text-hover{
  position: relative;
  // transform: translateY(45%);
  top: 25%;
}

@media (max-width: 576px) {
  .img-mobile {
    margin-top: -65px !important;
    position: static;
  }
}