.num-circle {
  border-radius: 100%;
  background-color: red;
  color: #ffffff;
  padding: 4px 9px 5px 9px !important;
}

.bg-blanco {
  background-color: #ffffff;
}

.precio-s span {
  font-size: 2rem;
  display: inline-block;
}

.precio-s small {
  text-align: left;
  line-height: 15px;
  font-size: 0.75rem;
  display: inline-block;
}

.btn-dark {
  border: 1px solid #ffffff;
}