<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="robots" content="noindex,follow" />

  <title>Servicio Técnico</title>
  <link rel="stylesheet" href="https://i.icomoon.io/public/b123418229/SitioMovistar2019/style.css">
  <link rel="stylesheet" href="../../../../EstilosMovistar/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="../../../../EstilosMovistar/estilosMovistar.css">
  <!-- <link rel="stylesheet" href="../movistar-estilos/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="../movistar-estilos/estilosMovistar.css"> -->
  <link rel="stylesheet" href="css/styles.css">


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

</head>

<body>
  <style>
    
  </style>
  <div class="container-fluid">
    <div class="row justify-content-center text-gris-movistar-5" id="contenedor_vue">
      <div class="col-12 col-md-10 text-center bg-blanco">
        <p class="subtitle2 light mt-4 mb-0">Centros de Atención Autorizados</p>
        <p class="light mt-3 mt-md-1">Conoce los centros autorizados cercanos a ti.</p>
        <div class="row justify-content-center pt-4 text-left text-md-center">
          <div class="col-12 col-md-2">
            <label for="input-select">Provincia</label>
          </div>
          <div class="col-12 col-md-3">
            <div class="form-group">
              <select class="form-control custom-select bg-blanco" @change="onChangeProvincia($event)">
                <option value="">Selecciona una Provincia</option>
                <option v-for="(key, value) in provincias" :value="value">{{ value }}</option>
              </select>
            </div>
          </div>
          <div class="col-12 col-md-2 d-none d-md-block">
            <label for="input-select">Ciudad</label>
          </div>
          <div class="col-12 col-md-3 d-none d-md-block">
            <div class="form-group">
              <select class="form-control custom-select bg-blanco" @change="onChangeCiudad($event)">
                <option value="">Selecciona un Ciudad</option>
                <option v-for="(key, value) in ciudades" :value="value">{{value}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <!-- INICIO DESKTOP -->
      <div class="col-10 text-center bg-blanco d-none d-md-block" v-if="cavs">
        <div class="row justify-content-center">
          <div class="col-5 scroll-cavs">
            <div class="row justify-content-center">
              <div class="col-12 text-left cavs-box py-4 text-gris-movistar-4" v-for="(key, value) in cavs"
                :id="'cav-'+value" @click="activeCav('cav-'+value, key.location, key.nombre, key.direccion, key.letra)">
                <h5 class="mb-0 text-gris-movistar-5">
                  <span class="letra-cav">{{key.letra}}</span>
                  {{key.nombre}} <b class="bold" v-if="key.guruBox">- GuruBox</b></h5>
                <p class="caption">{{key.tipo}}</p>
                <p>{{key.direccion}}</p>
                <div class="collapse" :id="'beneficio-'+value">
                  <p class="text-azul-movistar mb-0">Requisitos</p>
                  <p>2 copias del formulario de ingreso <br> completo y firmado</p>
                  <button class="btn btn-azul-movistar mb-3">Formulario de Ingreso</button>
                </div>

                <div class="d-flex" :ref="'cambioTexto-'+value" v-if="key.FormularioIngreso">
                  <div class="px-0 text-right">
                    <p class=" text-azul-movistar " data-toggle="collapse" :id="'cambioTexto-'+value"
                      @click="cambiarTexto('cambioSpan-'+value,'cambioTexto-'+value)" :data-target="'#beneficio-'+value"
                      aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                      Ver más</p>
                  </div>
                  <div class="px-0 text-left">
                    <span :id="'cambioSpan-'+value"
                      class="transition mt-1  position-absolute f-100 icon-azul-movistar icon-icono-flecha-abajo-small">

                    </span>
                  </div>
                </div>

              </div>
            </div>

          </div>
          <div class="col-7 bg-gris-movistar-1">
            <div class="contenedor-mapa pt-3" style="width: 100%;">
              <input type="hidden" name="latitud" id="latitud">
              <input type="hidden" name="longitud" id="longitud">
              <div ref="mapaGoogle" id="map" style="width: 100%;
                    height: 380px;
                    position: relative;
                    overflow: hidden;"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- FIN DESKTOP -->
      <!-- INICIO MOBILE -->
      <div class="col-12 text-center bg-blanco d-md-none px-0" v-for="(key, value) in ciudades">

        <div class="">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0"> <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                :data-target="'#collapse-'+value.replace(/ /g,'')" aria-expanded="false" aria-controls="collapseTwo">
                <p class="mb-0"> {{value}} </p>
              </button> </h2>
          </div>
          <div :id="'collapse-'+value.replace(/ /g,'')" class="collapse" aria-labelledby="headingTwo">
            <div class="card-body bg-blanco text-left" v-for="(k, val) in key">
              <h5 class="mb-0 text-gris-movistar-5">
                <!-- <span class="letra-cav">{{k.letra}}</span> -->
                {{k.nombre}} <b class="bold" v-if="k.guruBox">- GuruBox</b></h5>
              <p class="caption">{{k.tipo}}</p>
              <p>{{k.direccion}}</p>
              <div class="collapse" :id="'beneficio-'+val+value.replace(/ /g,'')">
                <div v-if="k.FormularioIngreso">
                  <p class="text-azul-movistar mb-0">Requisitos</p>
                  <p>2 copias del formulario de ingreso <br> completo y firmado</p>
                </div>
                <div class="contenedor-mapa py-3" style="width: 100%;">
                  <input type="hidden" name="latitud" id="latitud">
                  <input type="hidden" name="longitud" id="longitud">
                  <div ref="mapaGoogle" :id="'map-'+val+value.replace(/ /g,'')" style="width: 100%;
                          height: 300px;
                          position: relative;
                          overflow: hidden;"></div>
                </div>
              </div>

              <div class="row" :ref="'cambioTexto-'+val+value.replace(/ /g,'')">
                <div class="col-5 d-flex py-2">
                  <div class="px-0 text-right">
                    <p class=" text-azul-movistar " data-toggle="collapse" :id="'cambioTexto-'+val+value.replace(/ /g,'')"
                      @click="mapaMovile('cambioSpan-'+val+value.replace(/ /g,''),'cambioTexto-'+val+value.replace(/ /g,''), k, val, value.replace(/ /g,''))"
                      :data-target="'#beneficio-'+val+value.replace(/ /g,'')" aria-controls="navbarToggleExternalContent"
                      aria-expanded="false" aria-label="Toggle navigation">
                      Ver más</p>
                  </div>
                  <div class="px-0 text-left">
                    <span :id="'cambioSpan-'+val+value.replace(/ /g,'')"
                      class="transition mt-1  position-absolute f-100 icon-azul-movistar icon-icono-flecha-abajo-small">

                    </span>
                  </div>
                </div>
                <div class="col-7">
                    <button :id="'formulario-'+val+value.replace(/ /g,'')" class="btn btn-azul-movistar mb-3 d-none">Formulario de Ingreso</button>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>

      </div>
      <!-- FIN MOBILE -->
    </div>
  </div>

  <script src="js/filtros.js"></script>
  <script src="js/controlador.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRcvZ-zKMZnKfJ0kmw8Ec0jJRNU_cXEvQ" async
    defer></script>


</body>

</html>