/* VARIABLES */
/* VARIABLES */
/* modal */
@media (min-width: 767px) {
  .modal-dialog {
    max-width: 800px;
  }
}

.cabeceraCajaBorde {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.planes-margen .columna:nth-child(1) {
  margin-top: 10px;
}

.planes-margen .columna:nth-child(2) {
  margin-top: 20px;
}

.planes-margen .columna:nth-child(3) {
  margin-top: 30px;
}

.planes-margen .columna:nth-child(4) {
  margin-top: 40px;
}

.planes-margen .columna:nth-child(5) {
  margin-top: 50px;
}

.planes-margen .columna:nth-child(6) {
  margin-top: 60px;
}

.planes-margen .columna:nth-child(7) {
  margin-top: 70px;
}

.columna:nth-child(1) .cabeceraCajaBorde {
  height: 190px;
}

.columna:nth-child(2) .cabeceraCajaBorde {
  height: 180px;
}

.columna:nth-child(3) .cabeceraCajaBorde {
  height: 170px;
}

.columna:nth-child(4) .cabeceraCajaBorde {
  height: 160px;
}

.columna:nth-child(5) .cabeceraCajaBorde {
  height: 150px;
}

.columna:nth-child(6) .cabeceraCajaBorde {
  height: 140px;
}

.columna:nth-child(7) .cabeceraCajaBorde {
  height: 130px;
}

.planes-margen {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15px;
  margin-top: 20px;
}

.collapse.show {
  margin-top: 0px !important;
}

@media (max-width: 768px) {
  .caja {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .planes-margen .columna:nth-child(1) {
    margin-top: 20px;
  }
  .planes-margen .columna:nth-child(2) {
    margin-top: 20px;
  }
  .planes-margen .columna:nth-child(3) {
    margin-top: 20px;
  }
  .planes-margen .columna:nth-child(4) {
    margin-top: 20px;
  }
  .planes-margen .columna:nth-child(5) {
    margin-top: 20px;
  }
  .planes-margen .columna:nth-child(6) {
    margin-top: 20px;
  }
  .planes-margen .columna:nth-child(7) {
    margin-top: 20px;
  }
  .columna:nth-child(1) .cabeceraCajaBorde {
    height: 100px;
  }
  .columna:nth-child(2) .cabeceraCajaBorde {
    height: 100px;
  }
  .columna:nth-child(3) .cabeceraCajaBorde {
    height: 100px;
  }
  .columna:nth-child(4) .cabeceraCajaBorde {
    height: 100px;
  }
  .columna:nth-child(5) .cabeceraCajaBorde {
    height: 100px;
  }
  .columna:nth-child(6) .cabeceraCajaBorde {
    height: 100px;
  }
  .columna:nth-child(7) .cabeceraCajaBorde {
    height: 100px;
  }
}
/*# sourceMappingURL=estilosPlanes.css.map */