.card .btn {
  white-space: normal !important;
}

h4 {
  line-height: 1.5rem;
}

.contenido-banner {
  padding-left: 135px;
}

@media (max-width: 768px) {
  .contenido-banner {
    padding-left: 30px;
  }
}

.bg-blanco {
  background-color: #ffffff !important;
}

.cavs-box {
  border-bottom: 1px solid #B6B7B7;
  padding-left: 25%;
}

.cavs-box-active {
  background-color: #F4F4F3;
}

.letra-cav {
  background-color: #5BC500;
  padding: 0px 4px;
  border-radius: 4px;
  color: white;
  margin-left: -25px;
}

.scroll-cavs {
  height: 400px;
  overflow-y: scroll;
}
/*# sourceMappingURL=styles.css.map */