.bg-blanco {
  background-color: #ffffff;
}

.card .btn {
  white-space: normal !important;
}

.table-bordered th,
.table-bordered td {
  border: 2px solid white !important;
}

.table tbody + tbody {
  border-top: 2px solid white !important;
}

table thead th {
  border-bottom: 2px solid white !important;
}
/*# sourceMappingURL=styles.css.map */