.card .btn {
  white-space: normal !important;
}

h4 {
  line-height: 1.5rem;
}

.contenido-banner {
  padding-left: 135px;
}

@media (max-width: 768px) {
  .contenido-banner {
    padding-left: 30px;
  }
}
/*# sourceMappingURL=styles.css.map */