.bg-blanco {
  background-color: #ffffff;
}

.card .btn {
  white-space: normal !important;
}

.nav-tabs .nav-link {
  width: 240px !important;
}

h4 {
  line-height: 1.5rem;
}

.badge {
  font-family: "Telefonica-Light";
}

@media (max-width: 576px) {
  .img-mobile {
    margin-top: -65px !important;
    position: static;
  }
}
/*# sourceMappingURL=styles.css.map */