#nav-tab-servicios .nav-link{
    width: 215px;
    text-decoration: none;
}

.card .btn {
    white-space: normal !important;
  }

.contenido-banner h4{
    line-height: 1.5rem;
}

/* modal */

 
@media (max-width:768px){
    .caja {
        box-shadow: none!important;
    }
}

.planes-margen {
    justify-content: center;
    padding-top: 15px;
    margin-top: 20px
}

.collapse.show {
    margin-top: 0px !important; 
}
