<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--   <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="planes" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Roaming</title>
    <link rel="stylesheet" href="https://i.icomoon.io/public/b123418229/SitioMovistar2019/style.css">
    <link rel="stylesheet" href="https://www2.movistar.com.ec/EstilosMovistar/bootstrap/bootstrap.css">
    <!--     <link rel="stylesheet" href="/../../estilosMovistar/bootstrap/bootstrap.css">
   <link rel="stylesheet" href="../../estilosMovistar/estilosMovistar.css"> -->
    <link rel="stylesheet" href="https://www2.movistar.com.ec/EstilosMovistar/estilosMovistar.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- permite hacer llamadas get y post -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="estilosPlanes.css">
</head>

<body>


    <div class="container-fluid" id="contenedor_vue">

        <div class="row justify-content-center">

            <div class="col-12 px-0 mb-5">
                <div class="row position-absolute w-100 justify-content-md-center h-100">
                    <div class="col-9 col-md-10 ml-4 mt-4 mt-md-5 contenido-banner">
                        <span class="badge bg-azul-movistar mt-4 light">MOVISTAR ROAMING</span>
                        <p class="subtitle2 light mb-2">¡Bajamos nuestros precios!</p>
                        <h4 class="light text-gris-movistar-4">Aprovecha nuestras <b class="bold">nuevas tarifas</b><br>
                            mientras recorres el mundo. </h4>
                    </div>
                </div>
                <!-- <img src="imagenes/bg-img-homenet-desktop.jpg" width="100%" class="" alt="Image"> -->
                <picture>
                    <source srcset="imagenes/bg-img-roaming-desktop.jpg" media="(min-width: 770px)">
                    <!-- <source srcset="imagenes/bg-img-homenet-tablet.jpg" media="(min-width: 661px)"> -->
                    <img src="imagenes/bg-img-roaming-mobile.jpg" width="100%" class="" alt="Image">
                </picture>
            </div>

            <div class="col-xl-5 col-md-5 col-sm-12 align-self-end">
                <div class="text-md-left text-center">
                    <p class="subtitle2">No te desconectes si <br> estas lejos</p>
                    <p class="mb-0 light">Navega y chatea al mejor precio con nuestros paquetes.</p>

                </div>
            </div>
            <div class="col-xl-1 d-none d-xl-block"></div>
            <div class="col-xl-4 col-md-5 col-sm-12 mt-5 text-center text-md-left">
                <div> <label for="input-select">País <span class="text-magenta-movistar">*</span></label>
                    <select v-on:change="changeItem(selected)" v-model="selected" class="form-control custom-select">
                        <option value="">Selecciona</option>
                        <option v-for="option in datosPlanes.paises" :value="option"> {{option}} </option>

                    </select> </div>
            </div>
        </div>




        <div class="row text-center planes-margen d-none justify-content-center" id="cajaPlanes">
            <div class="col-12 mb-5 px-0" v-if="selected">
                <nav>
                    <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                            role="tab" aria-controls="nav-home" aria-selected="true">Pospago</a> <a
                            class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                            role="tab" aria-controls="nav-profile" aria-selected="false">Prepago</a> </div>
                </nav>
            </div>
            <div class="tab-content col-12 col-md-9 col-xl-10 col-lg-11 px-0" id="nav-tabContent" v-if="selected">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row justify-content-center d-flex">
                        <div class="col-xl-3 col-lg-3 col-md-5  " v-for="plan in planes.pospagoPaquetes">
                            <!-- PLANTILLA PLAN POSPAGO -->
                            <div class="caja pb-3 px-3 card  "
                                :class="estilosPlanDestacado[plan.is_outstanding].destacadoBorde">
                                <div class="row px-2 pt-3 justify-content-center align-items-end mb-3 mb-md-0">
                                    <div class="col-8 col-md-6 px-0 col-md-12  text-left text-md-center">
                                        <div>
                                            <h5>{{plan.name}}</h5>
                                            <div class="subtitle3 mb-3 mb-md-1">
                                                {{plan.benefits}}
                                            </div>
                                            <p class="mb-0 mb-md-2"> {{plan.zona}} </p>
                                        </div>
                                    </div>
                                    <div class="col-4 col-md-6 px-0 mt-1 col-md-12 text-right text-md-center">
                                        <div class="precio-s text-verde-movistar ">
                                            <div>$</div> <span>{{plan.price | entero}}</span>
                                            <small>{{plan.price | decimal}}<br>+IVA</small>
                                        </div>
                                        <strike class="text-gris-movistar-4">
                                            <p class="caption text-gris-movistar-4 pt-2 pt-md-1 d-none d-md-block">
                                                {{plan.antes}}</p>
                                        </strike>
                                    </div>

                                </div>
                                <div class="row justify-content-center ">


                                    <!-- BOTON -->
                                    <div class="col-6 col-md-12">
                                        <button type="button" class="btn  btn-block"
                                            :class="estilosPlanDestacado[plan.is_outstanding].destacadoBoton"
                                            @click="abrirModal('modal')"> Lo quiero</button>
                                    </div>

                                    <!-- BOTON -->
                                </div>
                                <hr>
                                <p class="text-gris-movistar-3 caption mb-0">{{plan.observacion}}</p>

                            </div>
                            <!-- PLANTILLA PLAN POSPAGO -->
                        </div>
                        <div class="col-12">
                            <p class="title text-center pt-5 light">Tarifas especiales para llamadas y SMS</p>
                        </div>
                        <div class="col-11 py-4">
                            <div class="row justify-content-center ">
                                <div class="col-6 col-md-3 text-center" v-for="tarifa in planes.pospagoTarifas">
                                    <span :class="tarifa.icon"></span>
                                    <p class="bold mb-0">{{tarifa.name}}</p>
                                    <h4 class="light">{{tarifa.precio}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="row justify-content-center d-flex">
                        <div class="col-xl-3 col-lg-4 col-md-5  " v-for="plan in planes.prepagoPaquetes">
                            <!-- PLANTILLA PLAN PREPAGO -->
                            <div class="caja pb-3 px-3 card  "
                                :class="estilosPlanDestacado[plan.is_outstanding].destacadoBorde">
                                <div class="row px-2 pt-3 justify-content-center align-items-end mb-3 mb-md-0">
                                    <div class="col-8 col-md-6 px-0 col-md-12  text-left text-md-center">
                                        <div>
                                            <h5>{{plan.name}}</h5>
                                            <div class="subtitle3 mb-3 mb-md-1">
                                                {{plan.benefits}}
                                            </div>
                                            <p class="mb-0 mb-md-2"> {{plan.zona}} </p>
                                        </div>
                                    </div>
                                    <div class="col-4 col-md-6 px-0 mt-1 col-md-12 text-right text-md-center">
                                        <div class="precio-s text-verde-movistar ">
                                            <div>$</div> <span>{{plan.price | entero}}</span>
                                            <small>{{plan.price | decimal}}<br>+IVA</small>
                                        </div>
                                        <strike class="text-gris-movistar-4">
                                            <p class="caption text-gris-movistar-4 pt-2 pt-md-1 d-none d-md-block">
                                                {{plan.antes}}</p>
                                        </strike>
                                    </div>

                                </div>
                                <div class="row justify-content-center ">


                                    <!-- BOTON -->
                                    <div class="col-6 col-md-12">
                                        <button type="button" class="btn  btn-block"
                                            :class="estilosPlanDestacado[plan.is_outstanding].destacadoBoton"
                                            @click="abrirModal('modal')"> Lo quiero</button>
                                    </div>

                                    <!-- BOTON -->
                                </div>
                                <hr>
                                <p class="text-gris-movistar-3 caption mb-0">{{plan.observacion}}</p>

                            </div>
                            <!-- PLANTILLA PLAN POSPAGO -->
                        </div>
                        <div class="col-12">
                            <p class="title text-center pt-5 light">Tarifas especiales para llamadas y SMS</p>
                        </div>

                        <div class="col-12 py-4">
                            <div class="row justify-content-center ">
                                <div class="col-3 text-center" v-for="tarifa in planes.prepagoTarifas">
                                    <span :class="tarifa.icon"></span>
                                    <p class="bold mb-0">{{tarifa.name}}</p>
                                    <h4 class="light">{{tarifa.precio}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- PLANTILLA PLAN PREPAGO -->
                </div>
            </div>

        </div>

        <div class="row justify-content-center pt-5">
            <h4 class="text-center">Activa tu paquete Roaming <b class="bold"> marcando *123#</b></h4>
            <div class="col-12 bg-gris-movistar-0 py-5 my-4">
                <div class="row justify-content-center px-0 px-md-5">
                    <div class="col-12 col-md-6 col-xl-5 col-lg-6 text-md-left text-center">
                        <p class="subtitle2 light mb-2">Disfruta de nuestra cobertura<br class="d-none d-lg-block">
                            alrededor del mundo</p>
                        <p class="light pt-2">Aprovecha los paquetes diarios y mantente siempre<br
                                class="d-none d-lg-block">conectado en
                            cualquier destino
                        </p>
                        <button type="button" class="btn btn-verde-movistar px-5 mt-4 d-none d-md-block"> Lo
                            quiero</button>
                    </div>
                    <div class="col-12 col-md-6 py-4 py-md-0">
                        <img src="imagenes/mapa.png" width="100%" class="" alt="Image">
                    </div>
                    <div class="col-12 d-md-none text-center">
                        <button type="button" class="btn btn-verde-movistar px-5 mt-4"> Lo quiero</button>
                    </div>
                </div>
            </div>
            <div class="col-12 px-5 px-md-0">
                <p class="subtitle2 text-center">Para activar tu servicio de Roaming o<br class="d-none d-md-block">
                    resolver cualquier duda</p>
                <p class="text-center light">Puedes contactarte en cualquiera de nuestros siguientes servicios</p>

                <div class="row justify-content-center pt-5">
                    <nav>
                        <div class="nav nav-tabs justify-content-center" id="nav-tab-servicios" role="tablist">
                            <a class="nav-item nav-link active" id="nav-activacion-tab" data-toggle="tab"
                                href="#nav-activacion" role="tab" aria-controls="nav-activacion" aria-selected="true">
                                Activación del servicio</a>
                            <a class="nav-item nav-link" id="nav-asistencia-tab" data-toggle="tab"
                                href="#nav-asistencia" role="tab" aria-controls="nav-asistencia"
                                aria-selected="false">Asistencia 24/7</a>
                        </div>
                    </nav>

                    <div class="tab-content col-12 col-xl-10 col-lg-12 pt-5" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-activacion" role="tabpanel"
                            aria-labelledby="nav-activacion-tab">
                            <div class="row justify-content-center">
                                <div class="col-12 col-md-4 text-center">
                                    <span class="icon-icono-movil-outlined font-size-400 mb-2"></span>
                                    <h5 class="bold pt-2">Centros de atención</h5>
                                    <p class="light">Conoce nuestros centros de atención.<br>
                                        Visítanos y te ayudaremos a solucionar tus inquietudes.</p>
                                </div>
                                <div class="col-12 col-md-4 text-center">
                                    <span class="icon-icono-ayuda-outlined font-size-400 mb-2"></span>
                                    <h5 class="bold pt-2">Canal automático</h5>
                                    <p class="light">Marca *123# en tu celular y activa el servicio.</p>
                                </div>
                                <div class="col-12 col-md-4 text-center">
                                    <span class="icon-icono-sms-outlined font-size-400 mb-2"></span>
                                    <h5 class="bold pt-2">FULL SMS</h5>
                                    <p class="light">Envía CHAT o FULL al 333 y activa el servicio.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-asistencia" role="tabpanel"
                            aria-labelledby="nav-asistencia-tab">
                            <div class="row justify-content-center">
                                <div class="col-12 col-md-4 text-center">
                                    <span class="icon-icono-datos-moviles-outlined font-size-400 mb-2"></span>
                                    <h5 class="bold pt-2">Chat Roaming</h5>
                                    <p class="light">Escríbenos y un asesor te ayudará con tus requerimientos</p>
                                </div>
                                <div class="col-12 col-md-4 text-center">
                                    <span class="icon-icono-telefonia-fija-outlined font-size-400 mb-2"></span>
                                    <h5 class="bold pt-2">Llámanos Gratis</h5>
                                    <p class="light">Desde cualquier parte del mundo al +593999999123</p>
                                </div>
                                <div class="col-12 col-md-4 text-center">
                                    <span class="icon-icono-sms-outlined font-size-400 mb-2"></span>
                                    <h5 class="bold pt-2">Correo</h5>
                                    <p class="light">Escríbenos a roamingecuador@telefonica.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-12 col-md-10 col-lg-9 pt-4 mb-4">
                <div class="row">
                    <div class="container pb-4">
                        <div class="row pt-4">
                            <div class="col-12 col-sm-12 col-lg-12 pl-0 pr-0 text-center">
                                <p class="subtitle3">Tips y recomendaciones</p>
                            </div>
                        </div>
                        <!-- Row 1 -->
                        <div class="row pt-4">
                            <div class="col-12 col-md-6">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <p class="mb-0"> <button class="btn btn-link collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                                aria-controls="collapseOne">
                                                <p class="mb-0"> Lorem Ipsum is simply text of the printing and
                                                    typesetting
                                                    industry.
                                                </p>
                                            </button> </p>
                                    </div>
                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                        data-parent="#accordionExample">
                                        <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high
                                            life
                                            accusamus
                                            terry richardson ad squid. 3 wolf moon </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <p class="mb-0"> <button class="btn btn-link collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">
                                                <p class="mb-0"> Lorem Ipsum is simply text of the printing and
                                                    typesetting
                                                    industry.
                                                </p>
                                            </button> </p>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                        data-parent="#accordionExample" style="">
                                        <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high
                                            life
                                            accusamus
                                            terry richardson ad squid. 3 wolf moon </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Row 2 -->
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <p class="mb-0"> <button class="btn btn-link collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">
                                                <p class="mb-0">Lorem Ipsum is simply text of the printing and
                                                    typesetting
                                                    industry.
                                                </p>
                                            </button> </p>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                        data-parent="#accordionExample" style="">
                                        <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high
                                            life
                                            accusamus
                                            terry richardson ad squid. 3 wolf moon </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="card">
                                    <div class="card-header" id="headingFour">
                                        <p class="mb-0"> <button class="btn btn-link collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                                                aria-controls="collapseFour">
                                                <p class="mb-0"> Lorem Ipsum is simply text of the printing and
                                                    typesetting
                                                    industry.
                                                </p>
                                            </button> </p>
                                    </div>
                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                        data-parent="#accordionExample">
                                        <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high
                                            life
                                            accusamus
                                            terry richardson ad squid. 3 wolf moon </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Row 3 -->
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="card">
                                    <div class="card-header" id="headingFive">
                                        <p class="mb-0"> <button class="btn btn-link collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
                                                aria-controls="collapseFive">
                                                <p class="mb-0"> Lorem Ipsum is simply text of the printing and
                                                    typesetting
                                                    industry.
                                                </p>
                                            </button> </p>
                                    </div>
                                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                        data-parent="#accordionExample" style="">
                                        <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high
                                            life
                                            accusamus
                                            terry richardson ad squid. 3 wolf moon </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="card">
                                    <div class="card-header" id="headingSix">
                                        <p class="mb-0"> <button class="btn btn-link collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseSix" aria-expanded="false"
                                                aria-controls="collapseSix">
                                                <p class="mb-0"> Lorem Ipsum is simply text of the printing and
                                                    typesetting
                                                    industry.
                                                </p>
                                            </button> </p>
                                    </div>
                                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                                        data-parent="#accordionExample" style="">
                                        <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high
                                            life
                                            accusamus
                                            terry richardson ad squid. 3 wolf moon </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>








        <!-- Modal -->
        <div class=" modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">

                        <div class="container-fluid my-0 mt-md-2 mb-md-5">
                            <div class="row text-center">
                                <div class="col-12">
                                    <p class="subtitle2 pb-0">
                                        Activa tu paquete diario
                                    </p>
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-md-12 text-left ">
                                    <form>
                                        <div class="form-group"> <label for="cedula">Número de
                                                cédula <span class="text-magenta-movistar">*</span></label>
                                            <input type="number" class="form-control" id="cedula">
                                        </div>
                                        <div class="form-group"> <label for="numero">Número de
                                                contacto <span class="text-magenta-movistar">*</span></label>
                                            <input type="number" class="form-control" id="numero">
                                        </div>
                                    </form>
                                    <div> <button class="btn btn-block btn-verde-movistar"
                                            @click="enviarFormulario('cedula','correo','celular','equipo','solicitud')">Submit</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->



    </div>
    <script src="js/filtros.js"></script>
    <script src="js/controlador.js"></script>
</body>

</html>
<!DOCTYPE html>