<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--   <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="planes" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://i.icomoon.io/public/b123418229/SitioMovistar2019/style.css">
    <link rel="stylesheet" href="https://www2.movistar.com.ec/EstilosMovistar/bootstrap/bootstrap.css">
    <!--     <link rel="stylesheet" href="/../../estilosMovistar/bootstrap/bootstrap.css">
   <link rel="stylesheet" href="../../estilosMovistar/estilosMovistar.css"> -->
    <link rel="stylesheet" href="https://www2.movistar.com.ec/EstilosMovistar/estilosMovistar.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- permite hacer llamadas get y post -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="estilosPlanes.css">
</head>

<body>


    <div class="container-fluid" id="contenedor_vue">
        <div class="row justify-content-center align-items-end pt-5">
            <div class="col-xl-4 col-md-5 col-sm-12 align-self-end">
                <div class="d-none d-md-block ">
                    <p class="mega-title">Activa un <br> paquete diario</p>
                    <p class="mb-0">Contrata un paquete diario y mantente conectado en tus viajes</p>

                </div>
                <div class="d-sm-block d-md-none text-center  ">
                    <p class="subtitle2 ">Activa un paquete diario</p>
                    <p class="mb-0 mx-5">Contrata un paquete diario y mantente conectado en tus viajes</p>

                </div>



            </div>
            <div class="col-xl-4 col-md-5 col-sm-12 mt-5 mt-md-0 text-center text-md-left">
                <div> <label for="input-select">País <span class="text-magenta-movistar">*</span></label>
                    <select v-on:change="changeItem(selected)" v-model="selected" class="form-control custom-select">
                        <option>Selecciona</option>
                        <option v-for="option in datosPlanes.paises"> {{option}} </option>

                    </select> </div>
            </div>
        </div>

        <div class="row text-center planes-margen d-none" id="cajaPlanes">
            <div class="col-xl-2 col-lg-4 col-md-5  " v-for="plan in planes">
                <!-- PLANTILLA PLAN -->
                <div class="caja pb-3 px-3 card  " :class="estilosPlanDestacado[plan.is_outstanding].destacadoBorde">
                    <div class="row px-2 py-3 justify-content-center align-items-end mb-3 mb-md-0">
                        <div class="col-8 col-md-6 px-0 col-md-12  text-left text-md-center">
                            <div>
                                <h5>{{plan.name}}</h5>
                                <div class="subtitle2 mb-3 mb-md-1">
                                    {{plan.benefits}}
                                </div>
                                <p class="mb-0 mb-md-2"> {{plan.zona}} </p>
                            </div>
                        </div>
                        <div class="col-4 col-md-6 px-0 mt-1 col-md-12 text-right text-md-center">
                            <div class="precio-s text-verde-movistar ">
                                <div>$</div> <span>{{plan.price | entero}}</span>
                                <small>{{plan.price | decimal}}<br>+IVA</small>
                            </div>
                            <p class="text-gris-movistar-3 pt-2 pt-md-0 d-none d-md-block">$
                                {{plan.price*1.12 | redondear}}
                                Incl.IVA</p>
                        </div>

                    </div>
                    <div class="row justify-content-center ">


                        <!-- BOTON -->
                        <div class="col-6 col-md-12">
                            <button type="button" class="btn  btn-block"
                                :class="estilosPlanDestacado[plan.is_outstanding].destacadoBoton" @click="abrirModal('modal')"> Lo quiero</button>
                        </div>

                        <!-- BOTON -->
                    </div>
                    <hr>
                    <p class="text-gris-movistar-3">*paga por los días que consumas.</p>

                </div>
            </div>
        </div>






        <!-- Modal -->
        <div class=" modal fade" id="modal" tabindex="-1" role="dialog"
            aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">

                        <div class="container-fluid my-0 mt-md-2 mb-md-5">
                            <div class="row text-center">
                                <div class="col-12">
                                    <p class="subtitle2 pb-0">
                                        Activa tu paquete diario
                                    </p>
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-md-12 text-left ">
                                    <form>
                                        <div class="form-group"> <label for="cedula">Número de
                                                cédula <span class="text-magenta-movistar">*</span></label>
                                            <input type="number" class="form-control" id="cedula">
                                        </div>
                                        <div class="form-group"> <label for="numero">Número de
                                                contacto <span class="text-magenta-movistar">*</span></label>
                                            <input type="number" class="form-control" id="numero">
                                        </div>
                                    </form>
                                    <div> <button class="btn btn-block btn-verde-movistar"
                                            @click="enviarFormulario('cedula','correo','celular','equipo','solicitud')">Submit</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->



    </div>
    <script src="js/filtros.js"></script>
    <script src="js/controlador.js"></script>
</body>

</html>
<!DOCTYPE html>