.bg-blanco {
  background-color: #ffffff;
}

a {
  text-decoration: none !important;
  color: #50535A !important;
}

input {
  background-color: #ffffffff !important;
}

input:focus .btn-search:before {
  color: #00A9E0 !important;
}

.btn-search {
  background-color: #ffffffff !important;

  &:focus {
    border: 1px solid #00A9E0 !important;
    box-shadow: none !important;
  }
}

.btn-search:focus span {
  color: #00A9E0;
}

.atencion-cliente .caja {
  border-radius: 4px;
}

.carousel-inner {
  margin: auto;
}

nav a.active {
  border: solid 1.2px #00A9E0;
  border-radius: 4px !important;
}

nav a {
  &:active {
    border: solid 1.2px #00A9E0;
    border-radius: 4px !important;
  }

  &:focus {
    border: solid 1.2px #00A9E0;
    border-radius: 4px !important;
  }
}

nav a.active span:before {
  color: #00A9E0 !important;
}

.card .btn {
  white-space: normal !important;
}

@media (max-width: 576px) {
  .img-mobile {
    margin-top: -65px !important;
    position: static;
  }
}

@media screen and (max-width: 480px) {
  .carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
  }

}

.carousel-indicators {
  bottom: 7px;
  top: 150px;
}

.carousel-indicators li {
  // width: 60px;
  background-color: #ffffff;
  width: 10px !important;
  height: 10px !important;
  border-radius: 100%;
}

.carousel-indicators .active {
  background-size: 30%;
  background-color: #00A9E0;
}