/* VARIABLES */
$class-slug : planes-margen !default;

/* VARIABLES */

/* modal */

 


@media (min-width :767px){  
    .modal-dialog {
        max-width: 800px;
    }
}  
.cabeceraCajaBorde {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@for $i from 1 through 7 {
    .#{$class-slug} .#{columna}:#{nth-child($i)} {
        margin-top: 10px * $i
    }
}

@for $i from 1 through 7 {
    .#{columna}:#{nth-child($i)} .#{cabeceraCajaBorde} {
        height: (200px - 10*$i);



    }
}
.planes-margen {
    justify-content: center;
    padding-top: 15px;
    margin-top: 20px
}

.collapse.show {
    margin-top: 0px !important; 
}
@media (max-width:768px){
    .caja {
        box-shadow: none!important;
    }
    @for $i from 1 through 7 {
        .#{$class-slug} .#{columna}:#{nth-child($i)} {
            margin-top: 20px 
        }
    }
    @for $i from 1 through 7 {
        .#{columna}:#{nth-child($i)} .#{cabeceraCajaBorde} {
            height: (100px);    
        }
    }
}
