@media screen and (max-width: 480px) {
  .carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
  }
}

.img-circle {
  border-radius: 100%;
  background-color: #E9EAE8;
  height: 50px !important;
  padding: 17px !important;
}

.carousel-indicators {
  bottom: 7px;
}

.carousel-indicators li {
  width: 60px;
  background-color: #F4F4F3;
}

.carousel-indicators .active {
  background-size: 30%;
  background-color: #00A9E0;
}

.form-row {
  padding-left: 5px;
}

.form-row .col-3 {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.form-row .col-2 {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.carousel-form .input-celular {
  border-radius: 4px 0px 0px 4px !important;
  height: 100% !important;
}

.carousel-form .input-cedula {
  border-radius: 0px !important;
  height: 100% !important;
}

.carousel-form .button-enviar {
  border-radius: 0px 4px 4px 0px !important;
  height: 100% !important;
}

.modal-dialog {
  margin: 0rem !important;
  height: 100% !important;
}

.modal-content {
  height: 100% !important;
  border: none;
  border-radius: 0%;
}

.modal-header {
  border-bottom: none;
}

.modal-body {
  padding: 2rem 3rem;
}

.cargando-small div {
  margin-top: -55%;
}

.cargando {
  height: 0%;
}

.modal-success-desktop {
  height: 50%;
  top: 25%;
  left: 30%;
}

.modal-success-desktop .modal-content {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: .3rem;
}

.carousel-control-prev {
  width: 7%;
}

.carousel-control-next {
  width: 7%;
}

.desktop div {
  border: 4px solid #ffffff !important;
  border-color: #ffffff transparent transparent transparent !important;
}
/*# sourceMappingURL=banner-hero.css.map */