#estilosEscaleras {
  /* VARIABLES */
  /* VARIABLES */
  /* modal */
}

#estilosEscaleras input[type="number"]::-webkit-outer-spin-button,
#estilosEscaleras input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#estilosEscaleras input[type="number"] {
  -moz-appearance: textfield;
}

@media (min-width: 767px) {
  #estilosEscaleras .modal-dialog {
    max-width: 800px;
  }
}

#estilosEscaleras .cabeceraCajaBorde {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#estilosEscaleras .planes-margen .columna:nth-child(1) {
  margin-top: 10px;
}

#estilosEscaleras .planes-margen .columna:nth-child(2) {
  margin-top: 20px;
}

#estilosEscaleras .planes-margen .columna:nth-child(3) {
  margin-top: 30px;
}

#estilosEscaleras .planes-margen .columna:nth-child(4) {
  margin-top: 40px;
}

#estilosEscaleras .planes-margen .columna:nth-child(5) {
  margin-top: 50px;
}

#estilosEscaleras .planes-margen .columna:nth-child(6) {
  margin-top: 60px;
}

#estilosEscaleras .planes-margen .columna:nth-child(7) {
  margin-top: 70px;
}

#estilosEscaleras .columna:nth-child(1) .cabeceraCajaBorde {
  height: 190px;
}

#estilosEscaleras .columna:nth-child(2) .cabeceraCajaBorde {
  height: 180px;
}

#estilosEscaleras .columna:nth-child(3) .cabeceraCajaBorde {
  height: 170px;
}

#estilosEscaleras .columna:nth-child(4) .cabeceraCajaBorde {
  height: 160px;
}

#estilosEscaleras .columna:nth-child(5) .cabeceraCajaBorde {
  height: 150px;
}

#estilosEscaleras .columna:nth-child(6) .cabeceraCajaBorde {
  height: 140px;
}

#estilosEscaleras .columna:nth-child(7) .cabeceraCajaBorde {
  height: 130px;
}

#estilosEscaleras .planes-margen {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15px;
  margin-top: 20px;
}

#estilosEscaleras .collapse.show {
  margin-top: 0px !important;
}

@media (max-width: 768px) {

  #estilosEscaleras .container {
    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: auto;
    margin-left: auto;
  }
  #estilosEscaleras .caja {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  #estilosEscaleras .planes-margen .columna:nth-child(1) {
    margin-top: 20px;
  }
  #estilosEscaleras .planes-margen .columna:nth-child(2) {
    margin-top: 20px;
  }
  #estilosEscaleras .planes-margen .columna:nth-child(3) {
    margin-top: 20px;
  }
  #estilosEscaleras .planes-margen .columna:nth-child(4) {
    margin-top: 20px;
  }
  #estilosEscaleras .planes-margen .columna:nth-child(5) {
    margin-top: 20px;
  }
  #estilosEscaleras .planes-margen .columna:nth-child(6) {
    margin-top: 20px;
  }
  #estilosEscaleras .planes-margen .columna:nth-child(7) {
    margin-top: 20px;
  }
  #estilosEscaleras .columna:nth-child(1) .cabeceraCajaBorde {
    height: 100px;
  }
  #estilosEscaleras .columna:nth-child(2) .cabeceraCajaBorde {
    height: 100px;
  }
  #estilosEscaleras .columna:nth-child(3) .cabeceraCajaBorde {
    height: 100px;
  }
  #estilosEscaleras .columna:nth-child(4) .cabeceraCajaBorde {
    height: 100px;
  }
  #estilosEscaleras .columna:nth-child(5) .cabeceraCajaBorde {
    height: 100px;
  }
  #estilosEscaleras .columna:nth-child(6) .cabeceraCajaBorde {
    height: 100px;
  }
  #estilosEscaleras .columna:nth-child(7) .cabeceraCajaBorde {
    height: 100px;
  }
}
/*# sourceMappingURL=estilosPlanes.css.map */