<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--   <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="planes" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://i.icomoon.io/public/b123418229/SitioMovistar2019/style.css">
    <link rel="stylesheet" href="https://www2.movistar.com.ec/EstilosMovistar/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="clay.css">

    <!--     <link rel="stylesheet" href="/../../estilosMovistar/bootstrap/bootstrap.css">
   <link rel="stylesheet" href="../../estilosMovistar/estilosMovistar.css"> -->
    <link rel="stylesheet" href="https://www2.movistar.com.ec/EstilosMovistar/estilosMovistar.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- permite hacer llamadas get y post -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="js/bootstrap-swipe-carousel.min.js"></script>
    <link rel="stylesheet" href="estilosPlanes.css">
</head>

<body>
    <style>
        .contenedor {
            height: 270px;
            width: 70px;

            overflow: hidden;
        }
        .carousel-item {

    transition: transform 0.4s ease;

}
    </style>

    <div id="contenedor_vue_escaleras">

        <div class="container-fluid">
            <div id="celulares" class="row">
                <div class="col-md-12 text-center py-3 py-md-5 ">
                    <div class="subtitle2 light text-gris-movistar-5 ">Nuestro catálogo de equipos</div>
                </div>
                <div class="container px-0">
                    <div class="d-none d-md-block">
                        <div class="row text-center ">
                            <div class="col-3" v-for=" (celular,index) in datosCelulares">
                                <div class=" text-center  ">
                                    <span
                                        class="  badge  bg-magenta-movistar">{{celular.content_tags[0].tag_value}}</span>
                                    <p>&nbsp</p>

                                    <img :src="celular.multimedias[0].path" alt="" width="50%">




                                    <h4 class="pt-3 bold pb-0">{{celular.brand}}</h4>


                                    <div v-for="gigas in celular.features">

                                        <div v-if="gigas.name == 'Memoria' ">
                                            <p>
                                                {{gigas.description}}
                                            </p>

                                        </div>

                                    </div>
                                    <p class="mb-0">a tan solo:</p>
                                    <div class="precio-s">
                                        <div>$</div> <span>{{celular.main_price.alta_total}}</span>
                                        <small>+IVA<br>/mes</small>
                                    </div> <br> <strike class="text-gris-movistar-3">Antes:
                                        {{celular.main_price.renewal_fee}}</strike>
                                    <!-- BOTON -->
                                    <div class="pt-3 col-md-12">
                                        <button type="button" class="btn btn-verde-movistar btn-block "
                                        
                                        @click="abrirUrl(celular.slug)"  > Comprar ahora</button>

                                          
                                    </div>
                                    <!-- BOTON -->
                                </div>
                            </div>
                            <div class="col-12 text-center pt-4">
                                <a href="https://celulares.movistar.com.ec/">Ver más equipos <small
                                        class="icon-icono-flecha-derecha-small   icon-azul-movistar"> </small> </a>
                            </div>


                        </div>
                    </div>

                    <!-- CATALOGO RESPONSIVE -->
                    <div class="d-md-none">
                            <div id="carouselExampleIndicators" class="carousel slide  " data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            
                                    </ol>
                                    <!-- The slideshow -->
                                    <div class="carousel-inner">
            
                                        <div class="carousel-item px-3  " v-for=" (celular,index) in datosCelulares"
                                            :class="index==0 ? 'active' : '' ">
            
                                            <div class=" text-center  ">
                                                <span
                                                    class="  badge  bg-magenta-movistar">{{celular.content_tags[0].tag_value}}</span>
                                                <p class="mb-0">&nbsp</p>
                                                <div class="container-fluid px-0">
                                                    <div class="row justify-content-center">
                                                        <div class="col-3 col-md-5 px-0 d-flex justify-content-start " style="opacity: 0.5;">
                                                            <div class="contenedor " >
                                                                <img v-if="index== 0">
                                                                <img v-else :src="datosCelulares[index-1].multimedias[0].path"
                                                                    style="object-fit: cover;
                                                                    object-position: right;
                                                                    width: 100%;
                                                                    height: 100%;" >
            
                                                            </div>
            
                                                        </div>
                                                        <div class="col-6 px-0 ">
            
                                                            <img :src="celular.multimedias[0].path" alt="" width="140px">
                                                        </div>
                                                        <div class="col-3 col-md-5 px-0 d-flex justify-content-end " style="opacity: 0.5;">
                                                            <div class="contenedor " >
                                                                <img v-if=" index==3 ">
                                                                <img v-else :src="datosCelulares[index+1].multimedias[0].path"
                                                                style="object-fit: cover;
                                                                object-position: left;
                                                                width: 100%;
                                                                height: 100%;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h4 class="pt-3 bold pb-0">{{celular.brand}}</h4>
                                                <div v-for="gigas in celular.features">
                                                    <div v-if="gigas.name == 'Memoria' ">
                                                        <p class="mb-2">
                                                            {{gigas.description}}
                                                        </p>
            
                                                    </div>
            
                                                </div>
                                                <p class="mb-2">A tan solo:</p>
                                                <div class="precio-s">
                                                    <div>$</div> <span>{{celular.main_price.alta_total | entero}}</span>
                                                    <small> {{celular.main_price.alta_total | decimal}} <br> <small>+IVA</small>
                                                    </small>
                                                </div> <br>
                                                <p class="text-gris-movistar-3"> <strike> Antes:
                                                        {{celular.main_price.renewal_fee}} </strike> </p>
                                                <!-- BOTON -->
                                                <div class=" col-md-12 py-3 mb-5">
                                                    <button type="button" class="btn btn-verde-movistar px-5 "
                                                    @click="abrirUrl(celular.slug)" > Comprar ahora</button>
                                                </div>
            
                                                <!-- BOTON -->
                                            </div>
            
            
            
                                        </div>
            
            
            
            
            
            
                                    </div>
            
            
                                </div>
                                <div class="text-center">
                                    <hr style="border-top: 2px solid #E9EAE8">
            
                                    <a href="https://celulares.movistar.com.ec/">Ver más equipos <small
                                            class="icon-icono-flecha-derecha-small  icon-azul-movistar"> </small> </a>
            
                                </div>

                    </div>
                  





                    <div class="row py-5 text-center justify-content-center d-none ">

                        <div class="col-md-3 text-center  " v-for="celular in datosCelulares">
                            <span class="  badge  bg-magenta-movistar">{{celular.content_tags[0].tag_value}}</span>
                            <p>&nbsp</p>
                            <img :src="celular.multimedias[0].path" alt="" width="50%">
                            <h4 class="pt-3 bold pb-0">{{celular.brand}}</h4>


                            <div v-for="gigas in celular.features">

                                <div v-if="gigas.name == 'Memoria' ">
                                    <p>
                                        {{gigas.description}}
                                    </p>

                                </div>

                            </div>
                            <p>a tan solo:</p>
                            <div class="precio-s">
                                <div>$</div> <span>{{celular.main_price.alta_total}}</span> <small>+IVA<br>/mes</small>
                            </div> <br> <strike class="text-gris-movistar-3">Antes:
                                {{celular.main_price.renewal_fee}}</strike>
                            <!-- BOTON -->
                            <div class=" col-md-12">
                                <button type="button" class="btn btn-verde-movistar btn-block "
                                    @click="abrirModal(plan.slug)"> Comprar ahora</button>
                            </div>
                            <!-- BOTON -->
                        </div>





                    </div>

                </div>




            </div>

            <section id="Escaleras">
                <div class="row pt-5">
                    <div class="col-md-12  text-center">

                        <div class="giga-title">Selecciona Plan</div>
                        <p class="subtitle3">En Movistar tenemos planes para tu prepago, pospago y hogar</p>
                    </div>
                </div>
                <div class="row text-center justify-content-center pt-3">
                    <div class="col-md-12 pb-5">
                        <!-- MENU -->
                        <div class="row  text-center justify-content-center">
                            <div class="col-12 col-md-6 col-xl-4">
                                <nav class="nav-pills nav-justified">
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist"> <a
                                            class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                                            href="#nav-home" role="tab" aria-controls="nav-home"
                                            aria-selected="true">Planes</a> <a class="nav-item nav-link"
                                            id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                                            aria-controls="nav-profile" aria-selected="false">Combos</a> <a
                                            class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"
                                            href="#nav-contact" role="tab" aria-controls="nav-contact"
                                            aria-selected="false">Homnet</a> </div>
                                </nav>

                            </div>
                        </div>
                        <!-- MENU -->

                        <!-- CONTENIDO -->

                        <div class="tab-content" id="nav-tabContent">
                            <!-- TAB PLANES -->
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                aria-labelledby="nav-home-tab">
                                <div class="row mt-3 mb-0 pb-0 px-0 d-block d-md-none d-lg-none">
                                    <div class="col-6 px-0">
                                        <div class="badge badge-cuadrado-derecha mb-0  bg-purpura-movistar d-block">
                                            OFERTA EXCLUSIVA WEB

                                        </div>
                                    </div>
                                </div>
                                <div class="row  pt-0 text-center planes-margen mt-0 mt-md-5 ">
                                    <div class="pt-0  col-xl-2 col-lg-3 col-md-4 columna px-0 px-md-3"
                                        v-for="plan in datosPlanes">
                                        <!-- PLANTILLA PLAN -->
                                        <div class="caja pb-0 pb-md-3 px-3 card  "
                                            :class="estilosPlanDestacado[plan.is_main_plan].destacadoBorde">
                                            <p class="pt-2  "
                                                :class="estilosPlanDestacado[plan.is_main_plan].destacadoIcono"></span>
                                                <div class="row px-2">
                                                    <div class="col-6 px-0 col-md-12  text-left text-md-center">
                                                        <div class="cabeceraCajaBorde ">
                                                            <p class="subtitle3">{{plan.name}}</p class="subtitle3">
                                                            <div class="mega-title ">
                                                                {{plan.normal_benefits[0].name}}GB
                                                            </div>
                                                            <p class="mb-0">{{plan.outstanding_benefit[0].name}}</p>
                                                        </div>
                                                        <div class="d-none d-md-block ">
                                                            <span
                                                                class="  badge badge-circular bg-magenta-movistar">{{plan.content_tags[0].tag_value}}</span>
                                                            <hr style="margin-top: -20px">
                                                        </div>
                                                    </div>
                                                    <div class="col-6 px-0 col-md-12 text-right text-md-center">
                                                        <div v-for="promocion in plan.promotions">
                                                            <p v-for="desc in promocion.description">
                                                                <span class="text-magenta-movistar">
                                                                    {{desc.description}}</span> {{desc.vigencia}}

                                                            </p>


                                                        </div>

                                                        <div class="precio-s text-verde-movistar ">
                                                            <div>$</div> <span>{{plan.prices.price | entero}}</span>
                                                            <small>{{plan.prices.price | decimal}}<br>+IVA</small>
                                                        </div>
                                                        <p class="text-gris-movistar-3 pt-2 pt-md-0">$
                                                            {{plan.prices.price*1.12 | redondear}}
                                                            Incl.IVA</p>
                                                    </div>

                                                </div>

                                                <!-- BENEFICIOS MOBILE -->
                                                <div class="row px-2 d-md-none">
                                                    <div class="col-12 px-0 ">
                                                        <div class="collapse" :id="'detalle-'+plan.order_mobile">
                                                            <div class="pt-0">
                                                                <div v-for="beneficio in plan.normal_benefits">
                                                                    <div class="text-left ">
                                                                        <p class="mb-0">
                                                                            {{beneficio.name}}
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- MAS DETALLES  -->
                                                <div class="row px-2 d-md-none">
                                                    <div class="col-12 px-0">
                                                        <hr class="my-3  ">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6 d-md-none ">
                                                        <nav class="navbar">

                                                            <div class="w-100 row"
                                                                :ref="'cambioTexto-'+plan.order_mobile">
                                                                <div class="col-10 px-0 text-right">
                                                                    <p class="text-azul-movistar" data-toggle="collapse"
                                                                        :id="'cambioTexto-'+plan.order_mobile"
                                                                        @click="cambiarTexto('cambioSpan-'+plan.order_mobile,'cambioTexto-'+plan.order_mobile)"
                                                                        :data-target="'#detalle-'+plan.order_mobile"
                                                                        aria-controls="navbarToggleExternalContent"
                                                                        aria-expanded="false"
                                                                        aria-label="Toggle navigation">Más
                                                                        detalle</p>
                                                                </div>
                                                                <div class="col-2 px-0 text-left">
                                                                    <span :id="'cambioSpan-'+plan.order_mobile"
                                                                        class="transition mt-1  position-absolute f-100 icon-azul-movistar icon-icono-flecha-abajo-small">
                                                                    </span>
                                                                </div>
                                                            </div>

                                                        </nav>
                                                    </div>
                                                    <!-- MAS DETALLES -->
                                                    <!-- BENEFICIOS MOBILE -->

                                                    <!-- BOTON -->
                                                    <div class="col-6 col-md-12">
                                                        <button type="button" class="btn  btn-block"
                                                            :class="estilosPlanDestacado[plan.is_main_plan].destacadoBoton"
                                                            @click="abrirModal(plan.slug)"> Lo quiero</button>
                                                    </div>
                                                    <!-- BOTON -->
                                                </div>
                                                <!-- BENEFICIOS DESKTOP -->
                                                <div class="pt-3 d-none d-md-block">
                                                    <div v-for="(beneficio, indice)  in plan.normal_benefits"
                                                        class="w-100 ">
                                                        <div v-if="indice != 0">
                                                            <hr class="my-2">
                                                            <div class="pt-2 d-flex text-left mr-auto">
                                                                <span :class="beneficio.icon"
                                                                    class="font-size-150 icon-magenta-movistar"></span>
                                                                <p class="ml-2 mb-0">
                                                                    {{beneficio.name}}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- BENEFICIOS DESKTOP -->
                                        </div>
                                        <!-- PLANTILLA PLAN -->
                                    </div>
                                </div>
                            </div>
                            <!-- TAB PLANES -->
                            <!--   TAB COMBOS -->
                            <div class="tab-pane  fade show" id="nav-profile" role="tabpanel"
                                aria-labelledby="nav-profile-tab">
                                <div class="row mt-3 mb-0 pb-0 px-0 d-block d-md-none d-lg-none">
                                    <div class="col-6 px-0">
                                        <div class="badge badge-cuadrado-derecha mb-0  bg-purpura-movistar d-block">
                                            OFERTA EXCLUSIVA WEB

                                        </div>
                                    </div>
                                </div>
                                <div class="row  pt-0 text-center planes-margen mt-0 mt-md-5 ">
                                    <div class="pt-0  col-xl-2 col-lg-3 col-md-4 columna px-0 px-md-3"
                                        v-for="combo in datosCombos">
                                        <!-- PLANTILLA COMBOS -->
                                        <div class="caja pb-0 pb-md-3 px-3 card  "
                                            :class="estilosPlanDestacado[combo.is_main_plan].destacadoBorde">
                                            <p class="pt-2 "
                                                :class="estilosPlanDestacado[combo.is_main_plan].destacadoIcono"></p>
                                            <div class="row px-2">
                                                <div class="col-6 px-0 col-md-12  text-left text-md-center">
                                                    <div class="cabeceraCajaBorde ">
                                                        <p class="subtitle3 d-none d-md-block">{{combo.title}}</p
                                                            class="subtitle3">
                                                        <div class="mega-title d-none d-md-block ">
                                                            {{combo.gigas}}GB
                                                        </div>
                                                        <div class="giga-title d-block d-md-none ">
                                                            {{combo.gigas}}GB
                                                        </div>
                                                        <!-- <p class="mb-0">{{combo.validity}}</p> -->
                                                        <div v-for="beneficio in combo.combo_benefits">
                                                            <p class="mb-0" v-if="beneficio.outstanding == 1">
                                                                {{beneficio.text}}
                                                            </p>
                                                        </div>

                                                    </div>
                                                    <div class="d-none d-md-block ">
                                                        <span
                                                            class="  badge badge-circular bg-magenta-movistar">{{combo.tag_value}}</span>
                                                        <hr style="margin-top: -20px">
                                                    </div>
                                                </div>
                                                <div class="col-6 px-0 col-md-12 text-right text-md-center">
                                                    <div>
                                                        <p>
                                                            <span class="text-magenta-movistar">
                                                                {{combo.promotion}}</span> {{combo.validity}}

                                                        </p>


                                                    </div>

                                                    <div class="precio-s text-verde-movistar pb-3 ">
                                                        <div>$</div> <span>{{combo.price | entero}}</span>
                                                        <small>{{combo.price | decimal}}<br>+IVA</small>
                                                    </div>
                                                    <!--  <p class="text-gris-movistar-3 pt-2 pt-md-0">$
                                                            {{combo.prices.price*1.12 | redondear}}
                                                            Incl.IVA</p> -->
                                                </div>

                                            </div>

                                            <!-- BENEFICIOS MOBILE -->
                                            <div class="row px-2 d-md-none">
                                                <div class="col-12 px-0 ">
                                                    <div class="collapse" :id="'detalleCombos-'+combo.order_mobile">
                                                        <div class="pt-0">
                                                            <div v-for="beneficio in combo.combo_benefits">
                                                                <div class="text-left ">
                                                                    <p class="mb-0" v-if="beneficio.outstanding != 1">
                                                                        {{beneficio.text}}
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- MAS DETALLES  -->
                                            <div class="row px-2 d-md-none">
                                                <div class="col-12 px-0">
                                                    <hr class="my-3  ">
                                                </div>
                                            </div>
                                            <div class="row ">
                                                <div class="col-6 d-md-none ">
                                                    <nav class="navbar ">

                                                        <div class="w-100 row"
                                                            :ref="'cambioTextoCombos-'+combo.order_mobile">
                                                            <div class="col-10 px-0 text-right">
                                                                <p class=" text-azul-movistar " data-toggle="collapse"
                                                                    :id="'cambioTextoCombos-'+combo.order_mobile"
                                                                    @click="cambiarTexto('cambioSpanCombos-'+combo.order_mobile,'cambioTextoCombos-'+combo.order_mobile)"
                                                                    :data-target="'#detalleCombos-'+combo.order_mobile"
                                                                    aria-controls="navbarToggleExternalContent"
                                                                    aria-expanded="false"
                                                                    aria-label="Toggle navigation">Más
                                                                    detalle</p>
                                                            </div>
                                                            <div class="col-2 px-0 text-left">
                                                                <span :id="'cambioSpanCombos-'+combo.order_mobile"
                                                                    class="transition mt-1  position-absolute f-100 icon-azul-movistar icon-icono-flecha-abajo-small">

                                                                </span>
                                                            </div>
                                                        </div>

                                                    </nav>
                                                </div>
                                                <!-- MAS DETALLES -->
                                                <!-- BENEFICIOS MOBILE -->

                                                <!-- BOTON -->
                                                <div class="col-6 col-md-12">
                                                    <button type="button" class="btn  btn-block"
                                                        :class="estilosPlanDestacado[combo.is_main_plan].destacadoBoton "
                                                        @click="abrirModalCombos(combo.slug,'combo')">
                                                        Solicitar</button>
                                                </div>
                                                <!-- BOTON -->
                                            </div>
                                            <!-- BENEFICIOS DESKTOP -->
                                            <div class="pt-3 d-none d-md-block">
                                                <div v-for="beneficio in combo.combo_benefits" class="w-100 ">
                                                    <div>

                                                        <hr class="my-2">
                                                        <div class="pt-2  d-flex  text-left mr-auto">
                                                            <span :class="beneficio.icon"
                                                                class="font-size-150 icon-magenta-movistar"></span>
                                                            <p class=" ml-2  mb-0">
                                                                {{beneficio.text}}
                                                            </p>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                            <!-- BENEFICIOS DESKTOP -->
                                        </div>
                                        <!-- PLANTILLA COMBOS-->
                                    </div>
                                </div>
                            </div>
                            <!--   TAB COMBOS -->
                            <!--   TAB HOMNET -->
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                                aria-labelledby="nav-contact-tab">
                                <div class="row justify-content-center text-gris-movistar-5 mt-4">

                                    <!-- <div class="col-12 col-md-10 text-center">
                                          <p class="subtitle2 light mt-4 mb-0">Contrata tu plan Homenet</p>
                                          <p class="light mt-3 mt-md-1">Además, disfruta de Movistar Play sin gastar los GB de tu plan Homenet</p>
                                        </div> -->
                                    <div class="col-12 col-md-10 text-center bg-gris-movistar-0 d-none d-md-block">
                                        <div class="row justify-content-center pt-4">
                                            <div class="col-12 col-md-10 col-lg-8 col-xl-6 px-2">
                                                <div class="caja card borde-top-azul-5">
                                                    <div class="row justify-content-center">
                                                        <div class="col-6 text-center px-5">
                                                            <p class="mt-4">Internet para tu hogar</p>
                                                            <p class="subtitle2">Ilimitado</p>
                                                            <hr class="my-2">
                                                            <div class="d-flex justify-content-left">
                                                                <span
                                                                    class="font-size-150 icon-icono-movistar-play-outlined"></span>
                                                                <p class="pl-2 mb-0">Movistar Play gratis</p>
                                                            </div>
                                                            <hr class="my-2">
                                                            <div class="d-flex justify-content-left">
                                                                <span
                                                                    class="font-size-150 icon-icono-wifi-outlined"></span>
                                                                <p class="pl-2 mb-0">Módem WiFi incluido</p>
                                                            </div>
                                                            <hr class="my-2">
                                                            <div class="d-flex justify-content-left">
                                                                <span
                                                                    class="font-size-150 icon-icono-portabilidad-outlined"></span>
                                                                <p class="pl-2 mb-0">Chip Movistar</p>
                                                            </div>

                                                            <div class="precio-s text-verde-movistar mt-4 mb-0">
                                                                <div>$</div>
                                                                <span>24</span>
                                                                <small>.99<br>+IVA/mes</small>
                                                            </div>
                                                            <p class="text-gris-movistar-5 mb-4">$27.99 Incl. IVA/mes
                                                            </p>

                                                            <button type="button"
                                                                class="btn btn-block btn-azul-movistar my-4">
                                                                Lo quiero</button>
                                                        </div>
                                                        <div class="col-6 pl-0">
                                                            <img src="img/Captura.PNG" class="w-100 h-100">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-10 text-center px-0 d-block d-md-none">
                                        <div class="pt-0  col-xl-2 col-lg-3 col-md-4 columna px-0 px-md-3">
                                            <div class="caja pb-0 pb-md-3 px-3 card   borde-top-azul-5"><span
                                                    class="pt-2 pt-4"></span>
                                                <div class="row px-2">
                                                    <div class="col-6 px-0 col-md-12  text-left text-md-center">
                                                        <div class="cabeceraCajaBorde ">
                                                            <p class="subtitle3"> Plan Homenet 1</p>
                                                            <div class="mega-title ">
                                                                Ilimitado
                                                            </div>
                                                            <p class="mb-0">Velocidad 4G LTE</p>
                                                        </div>
                                                        <div class="d-none d-md-block"><span
                                                                class="badge badge-circular bg-magenta-movistar">Recomendado
                                                                Online</span>
                                                                
                                                            <hr style="margin-top: -20px;">
                                                        </div>
                                                    </div>
                                                    <div class="col-6 px-0 col-md-12 text-right text-md-center">
                                                        <div>
                                                            <p class="text-magenta-movistar"> Movistar Play gratis.</p>
                                                        </div>
                                                        <div class="precio-s text-verde-movistar ">
                                                            <div>$</div> <span>19</span> <small>.99<br>+IVA</small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row px-2 d-md-none">
                                                    <div class="col-12 px-0 ">
                                                        <div id="detalle-2" class="collapse">
                                                            <div class="pt-0">
                                                                <div class="text-left d-flex">
                                                                    <span
                                                                        class="font-size-150 icon-icono-movistar-play-outlined"></span>
                                                                    <p class="pl-2 mb-0">Movistar Play gratis</p>
                                                                </div>
                                                                <div class="text-left d-flex">
                                                                    <span
                                                                        class="font-size-150 icon-icono-wifi-outlined"></span>
                                                                    <p class="pl-2 mb-0">Módem WiFi incluido</p>
                                                                </div>
                                                                <div class="text-left d-flex">
                                                                    <span
                                                                        class="font-size-150 icon-icono-portabilidad-outlined"></span>
                                                                    <p class="pl-2 mb-0">Chip Movistar</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row px-2 d-md-none">
                                                    <div class="col-12 px-0">
                                                        <hr class="my-3  ">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6 d-md-none ">
                                                        <nav class="navbar">
                                                            <div class="w-100 row">
                                                                <div class="col-10 px-0 text-right">
                                                                    <p data-toggle="collapse" id="cambioTextoHomenet"
                                                                        data-target="#detalle-2"
                                                                        aria-controls="navbarToggleExternalContent"
                                                                        aria-expanded="false"
                                                                        aria-label="Toggle navigation"
                                                                        @click="cambiarTexto('cambioSpanHomenet','cambioTextoHomenet')"
                                                                        class="text-azul-movistar">Más
                                                                        detalle</p>
                                                                </div>
                                                                <div class="col-2 px-0 text-left"><span
                                                                        id="cambioSpanHomenet"
                                                                        class="transition mt-1  position-absolute f-100 icon-azul-movistar icon-icono-flecha-abajo-small"></span>
                                                                </div>
                                                            </div>
                                                        </nav>
                                                    </div>
                                                    <div class="col-6 col-md-12"><button type="button"
                                                            class="btn  btn-block btn-azul-movistar">
                                                            Solicitar</button></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--   TAB HOMNET -->

                        </div>
                        <!-- CONTENIDO -->
                    </div>
                    <!-- Modal -->
                    <div class=" modal fade " style="display: none;" id="exampleModalCenter" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered " role="document">
                            <div class="modal-content">

                                <div class="modal-header justify-content-end">

                                    <button type="button" class="close  font-size-200" data-dismiss="modal"
                                        aria-label="Close">
                                        <span class=" icono-cerrar-modal-small">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body pt-0 pb-0 pt-md-0 pb-mb-4">
                                    <div id="exito"></div>


                                    <div class="container-fluid my-0 mt-md-2 mb-md-5"
                                        :class="respuesta ? 'd-none':'visible'">
                                        <div class="row text-center">
                                            <div class="col-12">
                                                <p class="subtitle2 pb-0">
                                                    Te llamamos para ayudarte a contratar
                                                </p>
                                                <h4>Horarios de atención: Lunes a Sábado de 8:00 a 22:00</h4>
                                            </div>
                                        </div>
                                        <div class="row pt-3 justify-content-center">

                                            <div class="col-md-5 text-left order-2 order-md-1">
                                                <form>
                                                    <div class="form-group"> <label for="cedula">Número de cédula <span
                                                                class="text-magenta-movistar">*</span></label>
                                                        <input v-cedula="input.cedula.valor"
                                                            :class="input.cedula.error ? 'error':''" type="number"
                                                            class="form-control" id="cedula"
                                                            v-model="input.cedula.valor">
                                                        <p v-show="input.cedula.muestraMensaje">{{input.cedula.mensaje}}
                                                        </p>
                                                    </div>
                                                    <div class="form-group"> <label for="numero">Número de contacto
                                                            <span class="text-magenta-movistar">*</span></label>
                                                        <!-- en la directiva v-celular se envía como parámetro el input.celular.valor por el motivo de que cuando se detecta un cambio en el valor
                                                                    la directiva se activa -->

                                                        <input v-celular="input.celular.valor"
                                                            :class="input.celular.error ? 'error':''" type="number"
                                                            class="form-control" id="celular"
                                                            v-model="input.celular.valor">
                                                        <p v-show="input.celular.muestraMensaje">
                                                            {{input.celular.mensaje}}
                                                        </p>
                                                        <!--       <input v-focus type="number" class="form-control" id="numero"> -->
                                                    </div>
                                                </form>
                                                <div> <button class="btn btn-block btn-verde-movistar"
                                                        @click="enviarFormulario()"
                                                        :disabled=" habilitarBotonPlanes">Submit</button>
                                                </div>
                                            </div>
                                            <div class="col-md-5 order-1 order-md-2 text-left text-md-center">
                                                <div class="row  align-items-center pb-2">
                                                    <div class="col-8 title pr-0 text-left  ">
                                                        <p class="subtitle3 mb-0 bold">{{planSeleccionado.name}}</p>

                                                        {{gigasSeleccionado.name}}GB



                                                    </div>
                                                    <div class="col-4 text-right align-self-center px-0">
                                                        <div class="precio-s text-verde-movistar ">
                                                            <div>$</div> <span>{{precioSeleccionado | entero}}</span>
                                                            <small>{{precioSeleccionado | decimal}}<br>+IVA</small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 text-left d-none d-md-block">
                                                        <p class="text-naranja-movistar">
                                                            Beneficio destacado
                                                        </p>

                                                        <div v-for="(beneficio, indice) in planSeleccionado.normal_benefits"
                                                            class="mb-0">

                                                            <p v-if="indice !=0" class="mb-1">
                                                                {{beneficio.name}}
                                                            </p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <!-- Modal Combos -->
                    <div class=" modal fade " style="display: none;" id="modalCombos" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered " role="document">
                            <div class="modal-content">
                                <div class="modal-header justify-content-end">

                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                        @click="cerrar()">
                                        <span class="font-size-200 icono-cerrar-modal-small">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body py-0 my-md-2">
                                    <div id="exitoCombos"></div>

                                    <div class="container-fluid my-0 mt-md-2 mb-md-5"
                                        :class="respuesta ? 'd-none':'visible'">
                                        <div class="row text-center justify-content-center">
                                            <div class="col-md-9">
                                                <p class="subtitle2 mb-0">
                                                    Activa tu {{planSeleccionado.title}}
                                                </p>
                                                <div class=" title mb-4 ">
                                                    {{gigasSeleccionado}} GB,
                                                    <div class="precio-s text-verde-movistar ">
                                                        <div>$</div> <span>{{precioSeleccionado | entero}}</span>
                                                        <small>{{precioSeleccionado | decimal}}<br>+IVA</small>
                                                    </div>
                                                </div>

                                                <span v-for="beneficio in planSeleccionado.combo_benefits"
                                                    class="mb-0 ">
                                                    <!-- <span v-for="(item ,indice) in beneficio "> -->
                                                    <span>
                                                        {{beneficio.text}},
                                                    </span>
                                                    <!-- </span> -->
                                                </span>
                                                <p class="mt-3">Te enviaremos un código para completar la activación.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row text-center justify-content-center">

                                            <div class="col-md-6 text-center">
                                                <form class="text-left">

                                                    <div class="form-group"> <label for="numero">Número de celular <span
                                                                class="text-magenta-movistar">*</span></label>
                                                        <!-- en la directiva v-celular se envía como parámetro el input.celular.valor por el motivo de que cuando se detecta un cambio en el valor
                                                              la directiva se activa -->
                                                        <input v-celular="input.celular.valor"
                                                            :class="input.celular.error ? 'error':''" type="number"
                                                            class="form-control" id="celular"
                                                            v-model="input.celular.valor">
                                                        <p v-show="input.celular.muestraMensaje">
                                                            {{input.celular.mensaje}}
                                                        </p>

                                                    </div>
                                                </form>
                                                <button :disabled='abrir' class="btn btn-verde-movistar px-5 mt-3  "
                                                    @click="enviarNumero()">Siguiente </button>

                                            </div>

                                        </div>

                                    </div>
                                    <div id="verificacionCodigo" class="row text-center justify-content-center d-none">

                                        <div class="col-md-6 text-center">
                                            <p>Ingresa el código de 4 dígitos que fue enviado a tu celular</p>
                                            <form class="text-left">


                                                <div class="form-group"> <label for="numero">Código de verificación
                                                        <span class="text-magenta-movistar">*</span></label>

                                                    <input
                                                        v-codigo="{valor: input.codigo.valor, errorServicio: input.codigo.errorServicio}"
                                                        :class="input.codigo.error ? 'error':''" type="number"
                                                        class="form-control" id="codigo" v-model="input.codigo.valor">
                                                    <p v-show="input.codigo.muestraMensaje">{{input.codigo.mensaje}}</p>

                                                </div>
                                            </form>
                                            <button :disabled='activoBoton2' class="btn btn-verde-movistar px-5 mt-3  "
                                                @click="verificacionCodigo()">Siguiente </button>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Combos -->
                </div>

            </section>






        </div>
    </div>

    <script src="js/filtros.js"></script>
    <script src="js/directivas.js"></script>
    <script src="js/controlador.js"></script>



</body>

</html>